<div class="login_wrap vrification">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.png"></figure>
            </div>
            <div class="login_form">
                <h4>Veriﬁcation</h4>
                <figure><img src="assets/images/verification.png"></figure>
                <p class="verification">Please check your email account for <span>{{email}}</span> and click the
                    “verify link inside”</p>
                <p class="verification_light">Once Your Email Is Veriﬁed, please click to next button.</p>
                    <button style="cursor: pointer;" (click)="verifyEmail()">Next</button>
                <button (click)="resendVerification()">Resend Veriﬁcation</button>
            </div>
        </div>
    </div>
</div>
<div class="spinere_main">
<div class="spinner">
    <div class="">
<mat-progress-spinner *ngIf="isspinner"
class="example-margin"
[color]="color"
[mode]="mode"
[value]="value">
</mat-progress-spinner>
</div>
</div>
</div>
