.spinner{position: fixed;
    top: -10%;
    left: 0;
    padding: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 200px;
    height: 200px;}
.login_wrap {
    position: relative;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000 !important;
} 
