<div class="header_top_outer">
    <div class="header_top_outer_inner">
        <div class="nunu_top_header">
            <div class="container">
                <div class="header_main_bar">
                    <div class="nunu_left_bar">
                        <ul>
                            <li>
                                <h4>Call us toll free : (+1)866-540-3229</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="nunu_right_bar">
                        <ul>
                            <li>
                                <div class="services_header">
                                    <div class="icon_header">
                                        <figure><img src="assets/images/header_truck.svg"></figure>
                                        <h4>TRUSTED SHIPPING</h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="services_header">
                                    <div class="icon_header">
                                        <figure><img src="assets/images/header_truck2.svg"></figure>
                                        <h4>EASY RETURNS</h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="services_header">
                                    <div class="icon_header">
                                        <figure><img src="assets/images/header_truck3.svg"></figure>
                                        <h4>SECURE SHOPPING</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" class="logoheader">
            <div class="conta_iner">
                <div class="top-header_inner">
                    <div class="left_bar">
                        <div class="inner_header">
                            <div class="header-logo">
                                <a class="logo" (click)="goTohome()">
                                    <figure><img style="cursor: pointer;" src="assets/images/logo.png"></figure>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="medium_bar">

                        <div class="search_bar_inner">
                            <div class="search_input">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text"  placeholder="What are you looking for?" name="name" (keyup)="searchtext($event)">
                                </mat-form-field>
                                <div class="search_button" style="cursor: pointer;" (click)="movetocategories()">
                                    <figure ><img  src="assets/images/search.png"></figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="right_bar">
                        <div class="account_main">
                            <ul class="header-btns">
                                <!-- <li *ngIf="isloggin == null">
                            &nbsp;
                            <span class="text-uppercase" (click)="gotologin()">Login</span>
                            &nbsp;
                            <span  class="text-uppercase" (click)="gotosignup()">Signup</span>
                        </li> -->

                                <!-- <li class="header-account dropdown profile_part" *ngIf="isloggin"> -->
                                <li class="header-account dropdown profile_part">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                        (click)="goToprofile()">
                                        <div class="header-btns-icon">
                                            <figure *ngIf="!this.profilepicdata"><img data-toggle="modal" data-target="#myModal"
                                                    src="assets/images/user.png"></figure>

                                                    <figure *ngIf="this.profilepicdata"><img data-toggle="modal" data-target="#myModal"
                                                        [src]="imgurl+profilepicdata"></figure>     
                                        </div>
                                        <span class="text-uppercase" *ngIf="!isloggin" data-toggle="modal"
                                            data-target="#myModal">My Account</span>
                                        <span class="text-uppercase" *ngIf="isloggin" data-toggle="modal"
                                            data-target="#myModal">{{firstname}}</span>
                                    </button>
                                    <!-- <ul class ="dropdown-menu" *ngIf="isloggin == null">
                                <li>
                                    <div class="profile_outer" >
                                       
                                        <div class ="profile_outer_right" (click)="goTomyProfile(1)">
                                            <a class ="text-uppercase">Login</a>
                                        </div>
                                       <br>
                                        <div class ="profile_outer_left" (click)="goTomyProfile(2)">
                                          <a class ="text-uppercase">
                                              Signup
                                          </a>
                                        </div>
                                    </div>
                                </li>
                            </ul> -->
                                </li>
                                <li class="headerlike" (click)="goTowishlist()" *ngIf="isloggin">
                                    <div class="shopping_cart_box">
                                        <figure style="cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22.916" height="20.345"
                                                viewBox="0 0 22.916 20.345">
                                                <g id="noun_Hearts_748816" transform="translate(-97.119 -82.035)">
                                                    <path id="Path_2451" data-name="Path 2451"
                                                        d="M27.248,14.283a6.51,6.51,0,0,0-9.231.014l-.35.35a.129.129,0,0,1-.182,0l-.35-.35A6.51,6.51,0,0,0,7.9,14.284a6.394,6.394,0,0,0,.087,8.954l9.4,9.4a.257.257,0,0,0,.364,0l9.4-9.4A6.394,6.394,0,0,0,27.248,14.283Z"
                                                        transform="translate(91 69.664)" fill="#D1D1D1" />
                                                </g>
                                            </svg>
                                        </figure>
                                        <!-- <span class="qty header-cart">3</span> -->
                                    </div>
                                </li>
                                <li class="header-account cart_div dropdown">

                                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                        <div class="head_btns" (click)="goTocart()">
                                            <div class="shopping_cart_box">
                                                <figure><img data-toggle="modal" data-target="#myModal"
                                                        src="assets/images/shoppingcart.svg"></figure>
                                                <span *ngIf="countcartlen != 0 && isloggin" data-toggle="modal"
                                                    data-target="#myModal"
                                                    class="qty header-cart">{{countcartlen}}</span>
                                                <!-- <span *ngIf="count === 0 || count == 'undefine'" data-toggle="modal" data-target="#myModal" class="qty header-cart">0</span> -->
                                            </div>
                                            <div class="login_inner_links"><span data-toggle="modal"
                                                    data-target="#myModal" class="text-uppercase">Cart</span>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="navigation" class="third_header">
        <nav class="navbar">
            <div class="conta_iner">
                <div class="navbar-header">
                    <div class="dropdown">
                        <button class="dropbtn">Categories <i class="fa fa-list"></i></button>
                        <div class="dropdown-content">
                            <li class="dropdown categories_dropdown" *ngFor="let Categ of categoryDataVal">
                                <a class="dropdown-toggle" data-toggle="dropdown" (mouseover)="getcategoryId(Categ?._id,1)">{{Categ.name}}<i
                                        class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-menu" *ngIf="sublength != 0">
                                    <li>
                                        <div class="women_product">
                                              <div class="women_product_inner">
                                                <ul class="list-links">
                                                    <li>
                                                        <h3 class="list-links-title">Sub Categories</h3>
                                                    </li>
                                                    <li *ngFor="let i of subcategeorylist">
                                                        <a  (click)="getcategoryId(i?._id,2)">{{i?.name}}</a>
                                                    </li>
                                                    <li *ngFor="let j of listsubcategory">
                                                        <a  (click)="getcategoryId(j?._id,2)">{{j?.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>   
                                        </div>
                                    </li>
                                    <li>
                                        <div class="product_img">
                                            <!-- <figure><img src="../assets/images/women_product.jpg"></figure> -->
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav" *ngFor="let i of categoryDataVal ; let k = index;">
                      
                        <li><a (click)="headerpage(i._id)" *ngIf="k == 1">{{i.name}}</a></li>
                        <li><a (click)="headerpage(i._id)" *ngIf="k == 2">{{i.name}}</a></li>
                        <li><a (click)="headerpage(i._id)" *ngIf="k == 3">{{i.name}}</a></li>
                      
                    </ul>

                </div>

            </div>
        </nav>

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" *ngIf="isloggin == 'null'">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
             
            </div> -->

            <!-- Modal body -->
            <div class="modal-body signup_popup">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="plz_login">please login
                </h2>
                <div class="sign_up_icon">
                    <p (click)="goTologin()">
                    <figure>
                        <img src="assets/images/popup1.png" alt="">
                    </figure>
                    <span>Sign In</span>
                    </p>
                    <p (click)="goTosignup()">
                    <figure>
                        <img src="assets/images/popup.png" alt="">
                    </figure>
                    <span>Sign Up</span>
                    </p>
                </div>
                <!----popup setting section-->
                <div class="setting_popup_bx">
                    <div class="setting_popup">
                        <h2>setting</h2>
                        <ul>
                            <li>
                                <div class="setting_compent">
                                    <div class="setting_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65"
                                            viewBox="0 0 18.65 18.65">
                                            <defs>
                                                <style>
                                                    .prefix__cls-2 {
                                                        fill: #ffcb08
                                                    }
                                                </style>
                                            </defs>
                                            <g id="prefix__Group_2281" data-name="Group 2281"
                                                transform="translate(-21.353 -493.83)">
                                                <circle id="prefix__Ellipse_238" cx="6.503" cy="6.503" r="6.503"
                                                    data-name="Ellipse 238" transform="translate(24.286 496.6)"
                                                    style="fill:#1c1c20" />
                                                <path id="prefix__Path_3116"
                                                    d="M36.174 512.363a.087.087 0 0 0 .053-.117q-.129-.3-.263-.579a.085.085 0 0 0-.1-.044 17.457 17.457 0 0 1-4.69.676.087.087 0 0 0-.084.088 4.371 4.371 0 0 0 1.02 2.892.087.087 0 0 0 .131-.006 8.363 8.363 0 0 1 3.933-2.91z"
                                                    class="prefix__cls-2" data-name="Path 3116"
                                                    transform="translate(-5.036 -9.205)" />
                                                <path id="prefix__Path_3117"
                                                    d="M31.488 507.611a16.794 16.794 0 0 0 4.037-.556.088.088 0 0 0 .051-.127 16.2 16.2 0 0 0-1.62-2.387.087.087 0 0 0-.1-.022A4.66 4.66 0 0 0 31.4 507.5a.087.087 0 0 0 .088.111z"
                                                    class="prefix__cls-2" data-name="Path 3117"
                                                    transform="translate(-5.197 -5.526)" />
                                                <path id="prefix__Path_3118"
                                                    d="M38.544 515.089a7.38 7.38 0 0 0-3.6 2.682.088.088 0 0 0 .016.125 4.63 4.63 0 0 0 4.456.58.088.088 0 0 0 .054-.1 17.768 17.768 0 0 0-.822-3.237.088.088 0 0 0-.104-.05z"
                                                    class="prefix__cls-2" data-name="Path 3118"
                                                    transform="translate(-7.025 -10.998)" />
                                                <path id="prefix__Path_3119"
                                                    d="M40.4 506.108a.088.088 0 0 0 .112.039 6.8 6.8 0 0 0 2.116-1.464.088.088 0 0 0-.008-.13 4.627 4.627 0 0 0-3.7-.928.087.087 0 0 0-.052.138 17.867 17.867 0 0 1 1.532 2.345z"
                                                    class="prefix__cls-2" data-name="Path 3119"
                                                    transform="translate(-9.056 -5.03)" />
                                                <path id="prefix__Path_3120"
                                                    d="M45.539 507.362a7.823 7.823 0 0 1-2.356 1.628.085.085 0 0 0-.042.114q.164.349.323.724a.087.087 0 0 0 .091.052 8.49 8.49 0 0 1 2.932.114.087.087 0 0 0 .1-.088 4.612 4.612 0 0 0-.922-2.535.086.086 0 0 0-.126-.009z"
                                                    class="prefix__cls-2" data-name="Path 3120"
                                                    transform="translate(-11.269 -6.988)" />
                                                <path id="prefix__Path_3121"
                                                    d="M30.678 493.83A9.325 9.325 0 1 0 40 503.155a9.336 9.336 0 0 0-9.322-9.325zm-.5 14.954a5.645 5.645 0 1 1 6.136-6.136 5.658 5.658 0 0 1-6.14 6.136z"
                                                    class="prefix__cls-2" data-name="Path 3121" />
                                                <path id="prefix__Path_3122"
                                                    d="M47.242 514.727a7.777 7.777 0 0 0-2.463-.168.086.086 0 0 0-.072.114 18.639 18.639 0 0 1 .742 2.827.087.087 0 0 0 .137.056 4.649 4.649 0 0 0 1.725-2.726.089.089 0 0 0-.069-.103z"
                                                    class="prefix__cls-2" data-name="Path 3122"
                                                    transform="translate(-12.081 -10.708)" />
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="setting_dropdown">
                                        <label>Country</label>
                                        <select>
                                            <option>India</option>

                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="setting_compent">
                                    <div class="setting_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.879" height="15.879"
                                            viewBox="0 0 15.879 15.879">
                                            <g id="Group_2461" data-name="Group 2461" transform="translate(5103 -4525)">
                                                <circle id="Ellipse_239" data-name="Ellipse 239" cx="7.94" cy="7.94"
                                                    r="7.94" transform="translate(-5103 4525)" fill="#ffcb08" />
                                                <g id="Group_2460" data-name="Group 2460"
                                                    transform="translate(16.5 -1.5)">
                                                    <line id="Line_60" data-name="Line 60" y2="8.218"
                                                        transform="translate(-5114.5 4530.5)" fill="none"
                                                        stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="1" />
                                                    <path id="Path_3123" data-name="Path 3123"
                                                        d="M40.574,588.287H34V585h6.574l-1.644,1.644Z"
                                                        transform="translate(-5148.5 3945.5)" fill="none"
                                                        stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="1" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="setting_dropdown">
                                        <label>Language</label>
                                        <select>
                                            <option>ENG</option>

                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-----end setting select box-->
                    <div class="setting_popup reach_out">
                        <h2>REACH OUT TO US</h2>
                        <ul>
                            <li>
                                <div class="setting_compent">
                                    <div class="setting_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65"
                                            viewBox="0 0 18.65 18.65">
                                            <g id="prefix__Group_2456" data-name="Group 2456"
                                                transform="translate(-8 -721)">
                                                <circle id="prefix__Ellipse_240" cx="7.864" cy="7.864" r="7.864"
                                                    data-name="Ellipse 240" transform="rotate(-78.019 458.526 363.255)"
                                                    style="fill:#ffcb08" />
                                                <g id="prefix__Group_2286" data-name="Group 2286"
                                                    transform="translate(12.883 725.477)">
                                                    <g id="prefix__Group_2285" data-name="Group 2285">
                                                        <path id="prefix__shape_2"
                                                            d="M29.623 742.147l.643-2.349a4.534 4.534 0 1 1 3.929 2.27 4.528 4.528 0 0 1-2.167-.552zm2.515-1.451l.138.081a3.762 3.762 0 0 0 1.918.525A3.768 3.768 0 1 0 31 739.538l.09.142-.381 1.39z"
                                                            data-name="shape 2" transform="translate(-29.623 -733)" />
                                                        <path id="prefix__shape_1"
                                                            d="M36.368 739.192c-.085-.188-.174-.192-.255-.2h-.217a.415.415 0 0 0-.3.142 1.269 1.269 0 0 0-.4.945 2.205 2.205 0 0 0 .463 1.172 4.653 4.653 0 0 0 1.935 1.71c.957.377 1.152.3 1.36.283a1.144 1.144 0 0 0 .765-.538.945.945 0 0 0 .066-.539c-.028-.047-.1-.075-.217-.132s-.67-.331-.774-.369-.179-.057-.255.057-.293.368-.359.444-.132.086-.245.029a3.107 3.107 0 0 1-.911-.562 3.415 3.415 0 0 1-.63-.785c-.066-.113-.007-.175.05-.231s.114-.132.17-.2a.781.781 0 0 0 .113-.189.207.207 0 0 0-.009-.2c-.03-.053-.25-.613-.35-.837z"
                                                            data-name="shape 1" transform="translate(-32.929 -736.555)"
                                                            style="fill-rule:evenodd" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="setting_dropdown">
                                        <label>WhatsApp Us</label>
                                        <select>
                                            <option>70182123456</option>

                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="setting_compent">
                                    <div class="setting_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.65" height="18.65"
                                            viewBox="0 0 18.65 18.65">
                                            <g id="prefix__Group_2457" data-name="Group 2457"
                                                transform="translate(-17.762 -801.24)">
                                                <circle id="prefix__Ellipse_241" cx="7.864" cy="7.864" r="7.864"
                                                    data-name="Ellipse 241" transform="rotate(-78.019 512.934 397.35)"
                                                    style="fill:#ffcb08" />
                                                <g id="prefix__Group_2283" data-name="Group 2283"
                                                    transform="translate(26.476 807.548)">
                                                    <path id="prefix__Path_3124"
                                                        d="M39.175 817.36a.62.62 0 0 1 .62-.62h.1a.62.62 0 0 1 .62.62.62.62 0 0 1-.62.62h-.1a.62.62 0 0 1-.62-.62zm0 5.751v-3.825a.62.62 0 0 1 .62-.62h.1a.62.62 0 0 1 .62.62v3.825a.62.62 0 0 1-.62.62h-.1a.62.62 0 0 1-.62-.62z"
                                                        data-name="Path 3124" transform="translate(-39.175 -816.74)" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="setting_dropdown">
                                        <label>Help</label>
                                        <select>
                                            <option>Help</option>

                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-----end setting select box-->

                </div>

            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>