.top-header {padding-top:5px;padding-bottom:5px;border-bottom:1px solid #DADADA;}
.top-header_inner {display:flex;justify-content:space-between;align-items:center;}
.top-header_inner span {color:#000;font-size:13px;font-weight:700;margin-left: 6px;cursor: pointer;}
ul.header-top-links {display:flex;justify-content:space-between;align-items:center;}
ul.header-top-links li {margin-right:25px;}
ul.header-top-links li:last-child {margin-right:0;}
ul.header-top-links a:hover {color:#FF9A03;}
.logoheader .header-logo img {width:100px;}
.logoheader .pull-left {display:flex;align-items:center;width:60%;}
.logoheader .header-search form {display:flex;justify-content:space-between;align-items:center;flex-direction:row-reverse;}
.logoheader .header-search input , select.input.search-categories {padding:11px 8px;border:none;background-color:transparent;-webkit-transition:0.3s all;transition:0.3s all;}
.logoheader .header-search input.input.search-input {width:70%;border:1px solid #DADADA;}
.logoheader button.search-btn {position:absolute;top:0px;right:0px;width:40px;height:40px;background-color:transparent;border:none;}
.logoheader .account_main .dropdown-menu i.fa.fa {color:#FF9A03;}
.logoheader .account_main .btn-primary {position: relative;border-radius: 0;color:#fff;background:none;border:none;display:flex;justify-content:space-between;align-items:center;}
.logoheader .account_main .btn-primary::before{
    height: 28px;position: absolute;content: '';
    border-right: 1px solid #DEDEDE;    right: 0px;
}
.logoheader .account_main .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {color:#fff;background:none;border:none;box-shadow:unset;}
.logoheader .head_btns i{margin-right:10px;width:40px;height:40px;line-height:40px;text-align:center;color:#D1D1D1;background-color:#FFF;border:1px solid #DADADA;border-radius:10px;}
.logoheader ul.dropdown-menu li {display:flex;align-items:center;padding:11px 20px;width:100%;max-height: 40px;}
.logoheader ul.dropdown-menu {border: none;min-width: 100%;border-top: 2px solid #FF9A03 !important;border-radius: 0 !important;top: 56px;box-shadow: 0 9px 7px #00000014;}
.dropdown-menu>li>a {cursor:pointer;padding:0;margin:0;color:#000000;font-size:14px;font-weight:600;font-size:14px;}
.logoheader ul.dropdown-menu li:hover {background:#FF9A03;color:#FFF;}
.logoheader ul.dropdown-menu li:hover .profile_outer_right a {color:#fff;}
.logoheader ul.dropdown-menu li:hover .without_hover {display:none;}
.logoheader ul.dropdown-menu li:hover .hover {display:block;}
.logoheader .dropdown-menu>li:focus>a, .dropdown-menu>li:hover>a {background:none;color:#FFF;}
#third_header .logoheader .dropdown-menu>li:focus>a, #third_header .dropdown-menu>li:hover >a {background:none;color:#FF9A03;}

.logoheader ul.header-btns {display:flex;justify-content:flex-end;align-items:center;
    width: 100%;}
.shopping_cart_box {
    position: relative;
}
span.qty.header-cart {
    position: absolute;
    background: #ffcb08;
    padding: 0;
    border-radius: 100px;
    top: -5px;
    font-size: 9px!important;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold!important;
    left: 16px;
}
.logoheader .header-btns-icon.cart {position:relative;}
.logoheader span .text-uppercase {color:#30323A;}
.logoheader .text-uppercasess h5 {color:#30323A;font-weight:700;}
.logoheader .text-uppercasess {text-align:left;}
.logoheader .text-uppercasess span {font-size:12px;}
.logoheader .product-thumb img {width:100%;}
.logoheader .product.product-widget {position:relative;margin-top:15px;}
.logoheader .product.product-widget .product-price {font-size:13px;margin-bottom:5px;}
.logoheader .product.product-widget .product-price h3 , a {color:#30323A;margin:0 0 10px;}
.logoheader .product.product-widget_inner {display:flex;align-items:center;padding:15px 25px 0;}
.logoheader #shopping-cart .shopping-cart-list {max-height:260px;margin-bottom:15px;overflow-y:scroll;overflow-x:hidden;    overflow: hidden;}
.logoheader #shopping-cart .shopping-cart-list .product.product-widget:first-child {margin-top:0px;}
.logoheader .product.product-widget .product-thumb {width:60px;background:#d2d2d2;height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;}
.logoheader .product.product-widget .product-body {padding-left:15px;min-height:60px;}
.logoheader .product.product-widget .product-name {font-size:14px;}
.logoheader .product.product-widget .cancel-btn {position: absolute;
    right: 10px;
    top: 7px;
    background-color: transparent;
    border: none;
    color: #DADADA;
    padding: 0 !important;}
.logoheader .main-btn {color:#30323A;background-color:#FFF;-webkit-box-shadow:0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;box-shadow:0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;}
.logoheader .primary-btn {color:#FFF;background-color:#FF9A03;}
.logoheader .primary-btn {
    color: #FFF;
    box-shadow: unset;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FFCB08;
    border-color: #FFCB08;
}
.logoheader .custom-menu {width:290px;}
.logoheader i.fa.fa-arrow-circle-right {color:#fff!important;}
.logoheader button.cart {border:none;padding:10px 0;text-align:center;width:48%;border-radius:5px;}
.logoheader .shopping-cart-btns {display:flex;justify-content:space-between;}
.logoheader div#header {padding:12px 0;}
.logoheader button.cart:hover {background:#000;color:#fff;}
#navigation .dropbtn {    padding: 15px;
    display: block;
    text-transform: uppercase;
    background: #F5F5F5;
    color: #707070;
    font-weight: 600;
    cursor: pointer;
    width: 270px;
    border: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;}
    #navigation .navbar-nav li a:hover {
        color: #FFCB08 !important;
    }
#navigation .dropdown {position:relative;display:inline-block;}
#navigation .dropdown-content {display:none;position:absolute;padding: 10px 0px;background-color:#f9f9f9;min-width:270px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;}
#navigation .dropdown-content a {color: black;padding: 4px 16px;display: flex;align-items: center;justify-content: space-between;line-height: normal;font-size: 14px;font-weight: 500;}
#navigation .dropdown-content a:hover {background-color:#f1f1f1}
#navigation .dropdown:hover .dropdown-content {display:block;}
#navigation {z-index: 1;    padding-top: 160px;
    background: #fff;}
    // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
#navigation .navbar-nav>li>a {padding-top:0;padding-bottom:0;line-height:normal;padding:15px !important;color:#707070 ;text-transform:uppercase;margin:0;cursor:pointer;display:block;}
#navigation .navbar-collapse {padding-right:0;padding-left:0;display:inline-block !important;vertical-align:middle;}
#navigation .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background:none!important;}
.nav>li>a:hover {text-decoration:none;background:none;}
#navigation .navbar-header {display:inline-block;float:none;}
.navbar {margin-bottom:0;border:0;}
li.dropdown.categories_dropdown {width:100%;}
li.dropdown.categories_dropdown i.fa.fa-angle-right {color:#FF9A03;font-size:17px;float:right;}
li.dropdown.categories_dropdown ul.dropdown-menu {border-left:2px solid #FF9A03;left:100%;top:0;width:750px;}
li.dropdown.categories_dropdown h3 {text-transform:uppercase;margin-bottom:10px;font-size:16px;font-weight:bold;}
.women_product {display:flex;justify-content:space-between;align-items:flex-start;}
li.dropdown.categories_dropdown ul.dropdown-menu {padding:14px;}
li.dropdown.categories_dropdown ul.dropdown-menu a {padding:0!important;}
.product_img img {width:100%;}
#navigation .dropdown-content li.dropdown.categories_dropdown a:hover {background:none;color:#FF9A03;}
li.dropdown.categories_dropdown.second {width:750px;padding:15px;}
li.dropdown.categories_dropdown.second a:hover {color:#FF9A03;}
li.dropdown.categories_dropdown.second li {margin-bottom:10px;}
.dropdown-menu {padding:0;}
div#header {padding:20px 0 20px 0;    background: #fff;}
select.input.search-categories {border:1px solid #DADADA;border-right:none;}
.hover {display:none;}
.profile_outer {display:flex;align-items:center;width:100%;}
.profile_outer_left {width:24%;}
.profile_outer_right a {color:#000000;font-size:13px;font-weight:600;cursor:pointer;margin:0;}
.search_input {display:flex;align-items:center;justify-content:flex-start;width:100%;padding: 4px 4px 4px 0px;}
.dropdown.Categories_drop {width:40%;}
.search_bar_inner {display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:justify;border-radius: 6px;justify-content:space-between;border:solid 1px #c6c6c6;}
.dropdown.Categories_drop button {    width: 100%;background-color:#FF9A03;border:unset;padding:13px 20px;color:#fff;line-height:normal;font-weight:600;font-size:17px;}

.inner_header {display:flex;align-items:center;justify-content:space-between;}
.Categories_drop span.caret {
    color: #fff !important;
}
ul.header-btns li {
     margin-left: 13px;
}
ul.header-btns li:last-child{margin-right:0;} 
.login_inner_links {
    display: flex;    margin-left: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.head_btns {
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.log_in_links_ a {
    margin-right: 7px;
    color: #000;
    line-height: normal;
    display: inline-block;
    margin-bottom: 0;
}
.log_in_links_ a span {
    color: #000;
    font-size: 15px;
    font-weight: 400;

    display: inline-block;
}
.shopping_cart_box {
    position: relative;
}
.profile_outer_right
{
    cursor: pointer;
}
.profile_outer_left
{
    cursor: pointer;
}

.dropdown-menu { border: unset !important;}
div#shopping-cart {
    padding: 15px;
}

.shopping-cart-btns a button {
    width: 100% !important;
}
.shopping-cart-btns a {
    width: 48%;
}

li.headerlike figure {
    height: 24px;
    width: 27px;
}

.profile_outer_right {
    width: 85%;
}
.profile_outer_right a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nunu_top_header {
    border: #000;
    background: #000;
    color: #fff;
    padding: 12px 0;
}
.nunu_top_header h4 {
    font-size: 12px;
}

.header_main_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout_wrap .btn-primary:hover, .btn-primary.focus, .btn-primary:focus {background: none!important;}
.icon_header {display: flex;justify-content: space-between;align-items: center;}
.icon_header i {
    font-size: 18px;
    margin-right: 6px;
}
.nunu_right_bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nunu_right_bar li {
    margin-right: 16px;
}
.nunu_right_bar li:last-child{margin-right: 0;}
.left_bar {
    width: 10%;
}
.medium_bar {
    width: 60%;
}
.right_bar {
    width: 20%;
}
.search_button {
    background: #FFCB08;
    padding: 12px;
    border-radius: 6px;
}

.icon_header figure {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.shopping_cart_box figure {
    width: 27px;
    height: 24px;
    margin-right: 8px;
}
// .header-btns-icon figure {
//     width: 27px;
//     height: 24px;
//     margin: auto;
// }
.header-btns-icon figure {
    width: 100%;
    height: 100%;
    margin: auto;
}
.header-btns-icon figure img{object-fit: cover;}
a.logo figure {
    width: 133px;
    height: 65px;
}


.header_top_outer_inner{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}
// .logoheader .header-btns-icon{width:40px;height:40px;line-height:40px;text-align:center;color:#30323A;}
.logoheader .header-btns-icon{width:40px;height:40px;line-height:40px;text-align:center;color:#30323A;border-radius: 50px;overflow: hidden;}


@media(max-width:1500px) {
    
    .right_bar {width: 25%;}
    ul.header-btns li {
        margin-right: 0;
    }
    .medium_bar {
        width: 64%;
    }

    .right_bar {
        width: 26%;
    }
    .logoheader .account_main .btn-primary {
     
        padding: 2px 15px;
    }
    .logoheader ul.dropdown-menu {
     
         left: -190px;
    }



    }













































