.footer_wrap {
    background: #313131;
    color: #fff;
}
.footer_part1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;    border-bottom: 1px solid #484848;
    padding: 30px 0 20px;
}
.footer_part1 h3 {
    font-size: 19px;
    font-weight: bold;
}
.footer_part1 li {
    width: 22%;
}
.footer_part1 p {
    color: #6F6F6F;
    font-size: 14px;
    text-align: left;
}
.footer_part1 .cart_services_right h3 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.footer_part1 .cart_services_right h3 span{color:#C7C7C7;font-size: 9px;}
ul.footer_part2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;padding: 40px 0;
}
ul.footer_part2 h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;}
    ul.footer_part2 li ul {
        padding: 30px 0;
    }
    ul.footer_part2 li ul li {
        font-size: 15px;
        line-height: 30px;
    }
    .copy_right {
        background: #222222;
        padding: 41px 0 36px;
    }
    .copyright_left ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.copyright_left ul li {color: #fff;font-size: 16px;margin-bottom: 20px;}
.copyright_right figure {width: 106px;height: 31px;}
.copyright_left ul p{color: #fff;text-align: left;font-size: 16px;}
.copy_right_main {display: flex;justify-content: space-between;align-items: center;}
.copyright_left {width: 69%;}
.copyright_right ul {display: flex;justify-content: space-between;}
.copyright_right ul h5{text-align: left;font-size: 16px;color:#fff;}
.copyright_right ul i {color: #fff;font-size: 20px!important;margin-left: 30px;}
.social_icons{margin-top: 20px;}
ul.goggle_imges li {margin-left: 12px;}
ul.social_icons {width: 100%;justify-content: flex-end!important;}