<div class="footer_wrap">
    <div class="conta_iner">
        <div class="footer_part1">
            <ul>
                <li>
                    <h3>We’re Always Here To Help</h3>
                    <p>Reach out to us through any of these support channels</p>
                </li>
                <li>
                    <div class="cart_services_main">
                        <div class="cart_services_left">
                            <figure><img src="assets/images/cart_service_img2.svg"></figure>
                        </div>
                        <div class="cart_services_right">
                            <h3>TRUSTED SHIPPING <span>Free shipping when you spend 100 AED and above</span>
                            </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cart_services_main">
                        <div class="cart_services_left">
                            <figure><img src="assets/images/cart_service_img3.svg"></figure>
                        </div>
                        <div class="cart_services_right">
                            <h3>EASY RETURNS <span>Free returns on eligible items so you can shop with
                                    ease</span></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cart_services_main">
                        <div class="cart_services_left">
                            <figure><img src="assets/images/cart_service_img4.svg"></figure>
                        </div>
                        <div class="cart_services_right">
                            <h3>SECURE SHOPPING <span>our data is always protected</span></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="footer_part2">
            <li *ngFor="let data of subcatlist; let i = index">
                <h4>{{data.name}}</h4>
                <ul>
                    <li  *ngFor="let i of data.subCatList" >
                        <a (click)="gotoprodcategory(data._id,i._id,data.name)">
                            {{i.name}}
                        </a></li>
                   
                </ul>
            </li>
           
        </ul>

    </div>
</div>
<div class="copy_right">
    <div class="conta_iner">
        <div class="copy_right_main">
            <div class="copyright_left">
                <ul style="cursor: pointer;">
                    <li *ngFor="let i of termsvalue" (click)="termsPage(i.slugName)">{{i.title}}</li>
                    <!-- <li (click)="termsPage('warranty-policy')" style="cursor: pointer;">Warranty Policy</li>
                    <li (click)="termsPage('3')">Sell with us </li>
                    <li (click)="termsPage('terms-of-use')" style="cursor: pointer;">Terms of Use</li>
                    <li (click)="termsPage('terms-of-sales')" style="cursor: pointer;">Terms of Sale</li>
                    <li (click)="termsPage('privacy-policy')" style="cursor: pointer;"> Privacy Policy</li>
                    <li (click)="termsPage('7')">Consumer Rights</li> -->
                </ul>
                <ul>
                    <p>© 2020 Nunu. All Rights Reserved</p>
                </ul>
            </div>
            <div class="copyright_right">
                <ul class="goggle_imges">
                    <li>
                        <figure><img src="assets/images/goggle1.png"></figure>
                    </li>
                    <li>
                        <figure><img src="assets/images/goggle2.png"></figure>
                    </li>
                </ul>
                <ul class="social_icons">
                    <h5>Follow us</h5>
                    <li><i class="fa fa-facebook-f"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>