<app-header></app-header>
<div class="cart_wrap comman_nameing_margin">
    <div class="checkout_wrap">
        <div class="conta_iner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" (click)="gotohome()">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="./homepage">Electronics & Mobiles</a></li> -->
                    <li class="breadcrumb-item active" aria-current="orders">Checkout</li>
                </ol>
            </nav>
            <div class="product_detail_main">
                <div class="product_detail_left">
                    <div class="list-group" id="accordionThree">
                        <div class="expansion-panel list-group-item">
                            <div aria-controls="collapseEight" aria-expanded="false"
                                class="expansion-panel-toggler collapsed" data-target="#collapseEight"
                                data-toggle="collapse" id="headingEight" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">My Cart
                                    </div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingEight" class="collapse in" data-parent="#accordionThree"
                                id="collapseEight">
                                <div class="expansion-panel-body">
                                    <div class="">
                                        <div class="">
                                            <div class="chip fade show" *ngFor="let cart of cartdata"
                                                id="chipDismissible1">
                                                <div class="product_detail_main cart">
                                                    <div class="cart_left">
                                                        <div class="product_detail_left_inner small">
                                                            <figure *ngIf="cart.productId.images?.length != 0"><img
                                                                    [src]="imgUrl+cart.productId.images[0]?.image">
                                                            </figure>
                                                            <figure *ngIf="cart.productId.images?.length == 0"><img
                                                                    src="assets/images/noimage.png"></figure>
                                                        </div>
                                                    </div>
                                                    <div class="cart_right">
                                                        <div>
                                                            <p>{{cart?.productId.name}}</p>
                                                            <p class="grey_cart">{{cart?.productId.brand.name}}</p>
                                                            <p class="yellow_cart">AED {{(cart?.productId?.price * cart?.quantity)-(cart?.productId?.price * cart?.quantity) * cart?.productId?.discount/100}}
                                                            </p>
                                                        </div>
                                                        <span style="color: red;" *ngIf="cart?.productId.purchaseQuantity <= this.i">Max purchased limit reached.</span>
                                                        <div class="orderadd_cart_box">
                                                            <button (click)="subquantity(cart)">-</button>
                                                            <p>{{cart?.quantity}}</p>
                                                            <button (click)="addquantity(cart?._id)">+</button>
                                                        </div>
                                                    </div>
                                                    <div class="crs_btn" (click)="removecart(cart?._id)"><button
                                                            class="close" data-dismiss="alert"
                                                            data-target="#chipDismissible1" type="button"><i
                                                                class="material-icons">cancel</i></button></div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="expansion-panel list-group-item">
                            <div aria-controls="collapseNine" aria-expanded="false"
                                class="expansion-panel-toggler collapsed" data-target="#collapseNine"
                                data-toggle="collapse" id="headingNine" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">Select Address</div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingNine" class="collapse in" data-parent="#accordionThree"
                                id="collapseNine">
                                <div class="expansion-panel-body">
                                    <div class="">

                                        <!-- <mat-radio-button *ngFor ="let i of address ;let y=index" [value]="y" (click)="radioclick(i._id)" >
                                                <div class="adre_main">
                                                    <div class="adres_top">
                                                        <address>{{i.address1}},{{i.city}}-{{i.postalCode}},{{i.address2}}<br>
                                                            <br>
                                                            {{i.phone}}
                                                        </address>
                                                    </div>
                                                    <div class="adres_bottom">
                                                        <a class="span_red" (click)="deleteaddress(i._id)">Remove</a>
                                                        <a data-toggle="modal"
                                                        data-target="#exampleModalLong" (click)="editaddressdata(i._id)">Edit</a>
                                                    </div>
                                                </div>
                                            </mat-radio-button> -->
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <mat-checkbox *ngFor="let i of address ;let y=index" [value]="y"
                                            [checked]='i._id == addressId' (click)="radioclick(i._id,$event)">
                                            <div class="adre_main">
                                                <div class="adres_top">
                                                    <address>
                                                        {{i.address1}},{{i.city}}-{{i.postalCode}},{{i.address2}}<br>
                                                        <br>
                                                        {{i.phone}}
                                                    </address>
                                                </div>
                                                <div class="adres_bottom">
                                                    <a class="span_red" (click)="deleteaddress(i._id)">Remove</a>
                                                    <a data-toggle="modal" data-target="#exampleModalLong"
                                                        (click)="editaddressdata(i._id)">Edit</a>
                                                </div>
                                            </div>
                                        </mat-checkbox>
                                        <!-- -----------------------------------------------------------------------------------------------                                         -->
                                        <div class="product_detail_btn">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalLong" (click)="addnewaddress()">Add New
                                                Address</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="expansion-panel list-group-item">
                            <div aria-controls="collapseten" aria-expanded="false"
                                class="expansion-panel-toggler collapsed" data-target="#collapseten"
                                data-toggle="collapse" id="headingten" role="button">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">Payment Options</div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="headingNine" class="collapse in" data-parent="#accordionThree"
                                id="collapseten">
                                <div class="expansion-panel-body">
                                    <div class="">
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="1">
                                                <div class="adre_main cards">
                                                    <div class="adres_right">
                                                        <h4>Amit Sharma</h4>
                                                        <p><span>MM/YY</span>11/12</p>
                                                        <h5>************************0987</h5>
                                                    </div>
                                                    <div class="adres_left">
                                                        <figure><img src="assets/images/mastercard.png"></figure>
                                                        <div class="form-group1">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" placeholder="cvv"
                                                                    name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-radio-button>
                                            <mat-radio-button value="2">
                                                <div class="adre_main cards">
                                                    <div class="adres_right">
                                                        <h4>Amit Sharma</h4>
                                                        <p><span>MM/YY</span>11/12</p>
                                                        <h5>************************0987</h5>
                                                    </div>
                                                    <div class="adres_left">
                                                        <figure><img src="assets/images/mastercard.png"></figure>
                                                        <div class="form-group1">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" placeholder="cvv"
                                                                    name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <div class="product_detail_btn">
                                            <button>Add New Payment</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_detail_right">
                    <div class="product_detail_right_inner cart">
                        <div class="title_bar cart">
                            <h2>Checkout</h2>
                        </div>
                        <div class="adre_main">
                            <h3>Delivery Address</h3>
                            <div class="adres_top" *ngFor="let i of addresszero; let k = index;">
                                <address *ngIf="k == 0">
                                    {{i?.address1}},{{i?.city}}-{{i?.postalCode}},{{i?.address2}}<br>
                                    {{i?.phone}}
                                </address>
                            </div>
                        </div>
                        <h3>Payment Mode</h3>
                        <div class="adre_main cards">
                            <div class="adres_right">
                                <h4>Amit Sharma</h4>
                                <p><span>MM/YY</span>11/12</p>
                                <h5>************************0987</h5>
                            </div>
                            <div class="adres_left height">
                                <figure><img src="assets/images/mastercard.png"></figure>
                                <h4>***<span>CVV</span></h4>
                            </div>
                        </div>
                        <ul class="product_detail_tab_content">
                            <h3>Price Details</h3>
                            <li>
                                <p>Subtotal</p>
                                <p class="right_align">AED {{price_total}}.00</p>
                            </li>
                            <li>
                                <p>Discount</p>
                                <p class="right_align">0%</p>
                            </li>
                            <li>
                                <p>Tax</p>
                                <p class="right_align">{{taxCharge}}%</p>
                            </li>
                            <li>
                                <p>Shipping</p>
                                <p class="right_align" *ngIf="shippingCharge != 0">${{shippingCharge}}</p>
                                <p class="right_align" *ngIf="shippingCharge == 0">$0</p>
                            </li>
                        </ul>
                        <ul class="product_detail_tab_content total">
                            <li>
                                <p>Total</p>
                                <p class="right_align">AED {{price_total}}.00</p>
                            </li>
                        </ul>
                        <div class="product_detail_btn">
                            <button mat-raised-button (click)="openDialog()">Pay Now</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- modale -->
<!-- Modal -->
<div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog checkout address_Addpopup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Addresses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addaddressform">
                    <ul class="formn_group_main">
                        <li>
                            <label>Name</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" maxLength="25" minlength="3"
                                        (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)"
                                        placeholder=" Name" name="name" formControlName="name">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'required')">
                                    Name is required
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('name', 'minlength')">
                                    Minimum length should be 3.
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>Apartment</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" maxLength="50" minlength="3"
                                        (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)"
                                        placeholder="Apartment" name="address1" formControlName="address1">
                                </mat-form-field>

                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('address1', 'required')">
                                    Apartment is required
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('address1', 'minlength')">
                                    Apartment should be 3 characters.
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>Building name</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" maxLength="50" minlength="3"
                                        (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)"
                                        placeholder="Building" name="name" formControlName="address2">
                                </mat-form-field>

                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('address2', 'required')">
                                    Building is required
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('address2', 'maxLength')">
                                    Building is invalid
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('address2', 'minlength')">
                                    Building should be Minimum 3 characters.
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>City</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" maxLength="40" minlength="2"
                                        (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)"
                                        placeholder="City" name="name" formControlName="city">
                                </mat-form-field>

                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'required')">
                                    city is required
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'maxLength')">
                                    city is invalid
                                </mat-error>
                                <mat-error class="error" *ngIf="submitted && errorHandlingAddress('city', 'minlength')">
                                    city should be 3 characters.
                                </mat-error>
                            </div>
                        </li>
                        <li>
                          <label>Postal Code</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" maxLength="25" minlength="5"
                                        (keydown.space)="$event.preventDefault()" (keypress)="checkphone($event)"
                                        autocomplete="false" placeholder="Postal code" name="name"
                                        formControlName="postalCode">
                                </mat-form-field>

                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'required')">
                                    postalCode is required
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'maxLength')">
                                    postalCode maximum 25.
                                </mat-error>
                                <mat-error class="error"
                                    *ngIf="submitted && errorHandlingAddress('postalCode', 'minlength')">
                                    postalCode Minimum 5.
                                </mat-error>
                            </div>
                        </li>
                        <li>
                            <label>Country</label>
                            <div class="form-group">
                                <input matInput list="browsers" name="browser" placeholder="Enter Country" formControlName="country" (keyup)="getAllcountry()" id="browser">
                                <datalist id="browsers" *ngFor="let body of countryList">
                                    <option *ngFor="let body of countryList" value="{{body.name}}">{{body.name}}</option>
                                </datalist>
                            </div>
                        </li>
                        <li>
                            <ngx-intl-tel-input placeholder="Enter phone number" [cssClass]="'custom'"
                                [preferredCountries]="[
                                          CountryISO.UnitedStates,
                                          CountryISO.UnitedKingdom
                                        ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
                                [searchCountryFlag]="true" [searchCountryField]="[
                                          SearchCountryField.Iso2,
                                          SearchCountryField.Name
                                        ]" [selectFirstCountry]="false" [selectedCountryISO]="countryCodeData"
                                [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                name="phone" formControlName="phone"></ngx-intl-tel-input>
                    </ul>
                    <button class="address_modale_btn" *ngIf="setid == null" (click)="addaddress(1)">Add New</button>
                    <button class="address_modale_btn" *ngIf="setid != null" (click)="addaddress(2)">Edit</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>