<div mat-dialog-content>
    <div class="text-box">
        <a class="btn btn-white btn-animate">
            <figure><img src="assets/images/LIKE.svg"></figure>
        </a>
        <h3>Confirmation</h3>
        <p>You have successfully completed your payment procedure</p>

        <div mat-dialog-actions class="product_detail_btn">
            <button mat-button (click)="onNoClick()">Back to Home</button>
            <!-- <button mat-button (click)="goTohome()">Back to Home</button> -->
            <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
        </div>
    </div>

</div>