.repeat_order_popup .modal-body {
    display: flex;
    justify-content: center;
}
.repeat_order_popup .modal-body button {
    margin-right: 16px;
    padding: 8px 38px;
}
.repeat_order_popup .modal-header span {
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}