<app-header></app-header>
<div class="order_detail_wrap comman_nameing_margin" *ngIf="status == 'New' || status == 'Packing' || status == 'Shipped'">
    <div class="conta_iner" *ngFor="let history of historyord">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" (click)="backtohome(1)"><a>Home</a></li>
                <li class="breadcrumb-item" (click)="backtohome(2)"><a> Order id :{{history?.orderId}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details page</li>
            </ol>
        </nav>
        <div class="orderdetail_main">
            <div class="orderdetail_left">
                <div class="order_detail_content">
                    <div class="order_detail_left">
                        <h3>Order id :{{history?.orderId}}<span>{{history?.productId.name}}</span></h3>
                        <ul>
                            <li>
                                <i class="fa fa-calendar-alt"></i>{{history?.updatedAt | date:'short'}}
                            </li>
                            <!-- <li>
                                <i class="fa fa-clock"></i>03:15 PM
                            </li> -->
                        </ul>
                    </div>
                    <div class="order_detail_right">
                        <h4 class="blue_color"><span>Status</span>{{history?.status}}</h4>
                    </div>
                </div>
                <ul class="bill_detail">
                    <h4>Bill Details</h4>
                    <li>
                        <h3>{{history?.productId.name}}</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}*{{history?.quantity}}</h3>
                    </li>
                    <!-- <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li>
                    <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li> -->
                </ul>
                <ul class="item_total">
                    <li>
                        <h3>Item total</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                    <li>
                        <h3>Postage</h3>
                        <h3>FREE</h3>
                    </li>
                    <li>
                        <h3>Total </h3>
                        <h3 class="extrabold_order">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                </ul>
                <button (click)="openDialog()">Cancel</button>
                <p class="orderdetail_p">New Products 30 days to leave feedback + waranty</p>
            </div>
            <div class="orderdetail_right">
                <ul class="approved_ordder">
                    <h4>Shipping Details</h4>
                    <li>
                        <div class="aproved_order_main">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>

                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h4>Order and Approved</h4>
                                <h5>Your order has been Placed<span>{{history?.createdAt | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">
                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>Shipped<span>{{history?.packingDate}}</span></h3>
                                <h5>Your order has been Placed<span>{{history?.shippedDate}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main third">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>

                                </div>
                            </div>
                            <div class="approved_order_right" *ngIf="history?.deliveredDate">
                                <!-- <h3 >Dilvered<span>{{{history?.deliveredDate}}</span></h3> -->
                                <!-- <h5>Your order has been Placed<span>{{history?.deliveryDate}}</span></h5> -->
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="get_help">
                    <li><a>View Receipt</a></li>
                    <li class=border_right_order></li>
                    <li class=""><a>Get Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------- -->
<div class="order_detail_wrap comman_nameing_margin" *ngIf="status == 'Delivered' || status == 'Canceled'">
    <div class="conta_iner" *ngFor="let history of historyordpast">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" (click)="backtohome(1)"><a>Home</a></li>
                <li class="breadcrumb-item" (click)="backtohome(2)"><a> Order id :{{history?.orderId}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details page</li>
            </ol>
        </nav>

        <div class="orderdetail_main">

            <div class="orderdetail_left">
                <div class="repeat_btn_orderdet">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                        *ngIf="!history?.isRated && status == 'Delivered'"
                        (click)="checkorderid(history?.productId._id,history?._id)">Rating</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLongrep"
                        (click)="orderrepeated(history?.orderId)">
                        Repeat order
                    </button>
                </div>
                <div class="order_detail_content">
                    <div class="order_detail_left">
                        <h3>Order id :{{history?.orderId}}<span>{{history?.productId.name}}</span></h3>
                        <ul>
                            <li>
                                <i class="fa fa-calendar-alt"></i>{{history?.updatedAt | date:'short'}}
                            </li>
                            <!-- <li>
                                <i class="fa fa-clock"></i>03:15 PM
                            </li> -->
                        </ul>
                    </div>
                    <div class="order_detail_right">
                        <h4 class="blue_color"><span>Status</span>{{history?.status}}</h4>
                    </div>
                </div>
                <ul class="bill_detail">
                    <h4>Bill Details</h4>
                    <li>
                        <h3>{{history?.productId.name}}</h3>
                        <h3>AED {{(history?.productId?.price)-(history?.productId?.price) * history?.productId?.discount/100}}*{{history?.quantity}}</h3>
                    </li>
                    <!-- <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li>
                    <li>
                        <h3>Product1</h3>
                        <h3>$ 15</h3>
                    </li> -->
                </ul>
                <ul class="item_total">
                    <li>
                        <h3>Item total</h3>
                        <h3>AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                    <li>
                        <h3>Postage</h3>
                        <h3>FREE</h3>
                    </li>
                    <li>
                        <h3>Total </h3>
                        <h3 class="extrabold_order">AED {{(history?.productId?.price * history?.quantity)-(history?.productId?.price * history?.quantity) * history?.productId?.discount/100}}</h3>
                    </li>
                </ul>
                <!-- <button  (click)="openDialog()" >Cancel</button> -->
                <p class="orderdetail_p">New Products 30 days to leave feedback + waranty</p>
            </div>
            <div class="orderdetail_right">
                <ul class="approved_ordder" *ngIf="status == 'Delivered'">
                    <h4>Shipping Details</h4>
                    <li>
                        <div class="aproved_order_main">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>

                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h4>Order and Approved</h4>
                                <h5>Your order has been Placed<span>{{history?.createdAt | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>Placed<span>{{history?.packingDate | date:'fullDate'}}</span></h3>
                                <h5>Seller has processed your order
                                    <span>{{history?.packingDate | date:'fullDate'}}</span>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main second">
                            <div class="approved_order_left">

                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right">
                                <h3>Shipped<span>{{history?.shippedDate | date:'fullDate'}}</span></h3>
                                <h5>Your item is out for delivery
                                    <span>{{history?.shippedDate | date:'fullDate'}}</span>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="aproved_order_main third">
                            <div class="approved_order_left">
                                <div class="approved_order_inner">
                                    <div class="approved_order_inner2"></div>
                                </div>
                            </div>
                            <div class="approved_order_right" >
                                <h3 >Dilvered<span>{{history?.deliveredDate | date:'fullDate'}}</span></h3>
                                <h5>Your item is delivered<span>{{history?.deliveredDate | date:'fullDate'}}</span></h5>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="get_help">
                    <li><a>View Receipt</a></li>
                    <li class=border_right_order></li>
                    <li class=""><a>Get Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog checkout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kindly give your rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body reating_popup">
                <form [formGroup]="form">
                    <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
                    <!-- <div>Rating: {{form.value.rating}}</div>
                    <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                </form>
                <button type="button" class="btn btn-primary" (click)="submitrating()">Submit</button>
                <div style="text-align:center">
                    <mat-form-field>
                        <mat-label>feedback</mat-label>
                        <input matInput type="text" [(ngModel)]="feedback" placeholder="give your feedback">
                    </mat-form-field>
                    <!-- <star-rating value="5" totalstars="5" checkedcolor="green" uncheckedcolor="grey" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalLongrep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog checkout repeat_order_popup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    Do you want to repeate the order ?
                </span>
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Kindly give your rating</h5> -->
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" (click)="submitrepreated()">YES</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">NO</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>