.banner_products {
   
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: CENTER;
    FLEX-DIRECTION: COLUMN;
}
.banner_products h1 {
    FONT-SIZE: 50PX;
}
.banner_products span {
    background: #ffcb08;
    color: #000;
    padding: 13px 20px;
    font-size: 15px;
    margin: 20px 0 0;
}