<app-header (searchtextvalue)=changesearchresult($event)></app-header>
<div class="category_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="backtohome()">Home</a></li>
                <li class="breadcrumb-item"><a>{{prod}}</a></li>
            </ol>
        </nav>
        <div class="category_main">
            <div class="category_left">
                <div class="category_left_nner">

                    <h4>Category</h4>
                    <ul class="category_sidebar">

                        <li class="cate_active" style="cursor: pointer;"
                            *ngFor="let list of categorylist; let i = index" [ngClass]="{active: list.name == prod}"
                            (click)="getcategoryid(list?._id,1,i,list.name)">
                            {{list.name}}</li>

                    </ul>
                    <div class="price_navbar" *ngIf="pricehide">
                        <h4>Price</h4>
                        <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"
                            (mouseup)="sliderEvent()"></ng5-slider>
                    </div>
                    <div class="price_navbar_checkout" *ngIf="pricehide" >
                        <div style="display: flex;">
                            <h4>Brand</h4> 
                            <div class="clear">
                                <span style="color: rgb(56, 102, 223);
                                cursor: pointer;
                                font-weight: bold;" (click)="clearBrand()">Clear</span>
                            </div>
                        </div>
                        <input type="text" placeholder="Search brand" [(ngModel)]="search" (keyup)="checkBrand()">
                        <ul>
                            <li *ngFor="let item of brandlist; let i = index">
                                <mat-checkbox (change)="filterBrancd(item._id,$event,i)" [checked]="brandarrylist.includes(item?._id)">{{item?.name}} <span>(</span>
                                    {{item?.count}}
                                    <span>)</span>
                                </mat-checkbox>
                            </li>

                        </ul>
                    </div>
                    <div class="price_navbar_checkout" *ngIf="pricehide">
                        <div style="display: flex;">
                            <h4>Rating</h4> 
                            <div class="clear">
                                <span style="color: rgb(56, 102, 223);
                                cursor: pointer;
                                font-weight: bold;" (click)="clearRating()">Clear</span>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <ul>
                                    <mat-radio-group aria-label="Select an option">    
                                    <li>
                                        <mat-radio-button value="1"  (change)="radioChange($event)" [checked]="ratval == '1'"><i class="fa fa-star" ></i>&up</mat-radio-button>
                                    </li>
                                    <li>
                                        <mat-radio-button value="2"  (change)="radioChange($event)" [checked]="ratval == '2'"><i class="fa fa-star"></i><i class="fa fa-star"></i>&up</mat-radio-button>
                                    </li>
                                    <li>
                                        <mat-radio-button value="3"  (change)="radioChange($event)" [checked]="ratval == '3'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&up</mat-radio-button>
                                    </li>
                                    <li>
                                        <mat-radio-button value="4" (change)="radioChange($event)" [checked]="ratval == '4'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&up</mat-radio-button>
                                    </li>
                                    <li>
                                        <mat-radio-button value="5" (change)="radioChange($event)" [checked]="ratval == '5'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></mat-radio-button>
                                    </li>
                                </mat-radio-group>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="category_right">
                <div class="more_explore_main">
                    <div class="more_explore_main1">
                    </div>
                    <div class="more_explore_main2">
                        <div class="category_top_bar" *ngIf="!searchlist">
                            <div class="vategory_left_bar">
                                <p>{{search_result?.length}} results found</p>
                                <!-- <p *ngIf="search_result?.length == ">0 results found</p> -->
                            </div>
                            <div class="category_right_bar">
                                <ul class="collpase_bar">
                                    <li *ngIf="pricehide">
                                        <p *ngIf="isfeature" class="right_Align">SORT BY</p>
                                        <div class="dropdown" *ngIf="isfeature">

                                            <select [(ngModel)]="sort" placeholder="sdg"
                                                (change)="sortSelected($event)">
                                                <option value="undefined" disabled>Select</option>
                                                <option value="1">Popularity</option>
                                                <option value="2">Price--Low to High</option>
                                                <option value="3">Price--High to Low</option>
                                                <option value="4">Newest First</option>
                                            </select>

                                        </div>
                                    </li>
                                    <li class="row_top_bar">
                                        <p>Row</p>
                                        <div class="form-group">
                                            <a *ngIf="row" (click)="rowmethod(1)">
                                                <i class="fa fa-th"></i>
                                            </a>
                                            <a *ngIf="!row" (click)="rowmethod(2)">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="!searchresulthide">
                            <ul *ngFor="let i of search_result">
                                <li (click)="gotoproductDetails(i?._id,i?.type)">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+i?.image"></figure>
                                                    <span>{{i?.name}}</span>
                                        </div>
                                        
                                        <div class="tab2_category_main">
                                            <div class="selection_main">
                                                <div class="hm_restur_rateing">
                                                    <figure><img alt="" src="assets/images/star.png"></figure>
                                                    <!-- <span>4.8</span> -->
                                                </div>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      
                        <div *ngIf="searchlist">
                            <ul class="cate_banner">
                                <li (click)="getbannnerdatalist(i,1)" *ngFor="let i of bannerlist">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+i?.image"></figure>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="subcate_banner">
                                <li (click)="getcategoryid(j?._id,2)" *ngFor="let j of subcategeorylist">
                                    <div class="selection_mains">
                                        <div class="explore_main">
                                            <figure class="camera" style="cursor: pointer;"><img
                                                    [src]="imgurl+j?.image"></figure>
                                        </div>
                                        <span>{{j?.name}}</span>
                                    </div>
                                </li>
                            </ul>
                            <ul *ngFor="let k of listsubcategory">
                                <li style="cursor: pointer;" (click)="getcategoryid(k?._id,2)">
                                    {{k?.name}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="row">
                            <div *ngIf="subproduct" class="sub_prod_namediv">
                                <ul class="sub_prodwith_name">
                                    <li (click)="gotoproductDetails(j?._id,'product')" *ngFor="let j of productdetail">
                                        <div class="selection_mains">
                                            <div class="explore_main">
                                                <figure class="camera" *ngIf="j.images?.length != 0"
                                                    style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                                </figure>
                                                <figure class="camera" *ngIf="j.images?.length == 0"
                                                    style="cursor: pointer;"><img src="assets/images/noimage.png">
                                                </figure>
                                            </div>

                                        </div>
                                        <div class="tab2_category_main">
                                            <div class="tab2_category">
                                                <h2 style="cursor: pointer;">{{j?.name}}<span> {{j.brand?.name}}</span>
                                                </h2>
                                                <div class="sub_cate_h4price">
                                                    <h4 *ngIf="j.discount">
                                                        AED{{j?.price - j?.price * j?.discount / 100}}<del>AED{{j?.price}}
                                                        </del><span>{{j?.discount}}% off</span> </h4>
                                                    <h4 *ngIf="!j.discount">AED{{j?.price}}</h4>
                                                </div>
                                            </div>
                                            <div class="selection_main">
                                                <div class="hm_restur_rateing">
                                                    <figure><img alt="" src="assets/images/star.png"></figure>
                                                    <span>0.0</span>
                                                </div>
                                                <div class="like">
                                                    <figure><img src="assets/images/like.png"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- grid  -->
                        <div *ngIf="!row">
                            <div *ngIf="subproduct" class="sub_prod_namediv">
                                <ul class="sub_prodwith_name" *ngFor="let j of productdetail">
                                    <li (click)="gotoproductDetails(j?._id)">
                                        <div class="selection_mains">
                                            <div class="explore_main">
                                                <figure class="camera" *ngIf="j.images?.length != 0"
                                                    style="cursor: pointer;"><img [src]="imgurl+j?.images[0]?.image">
                                                </figure>
                                                <figure class="camera" *ngIf="j.images?.length == 0"
                                                    style="cursor: pointer;"><img src="assets/images/noimage.png">
                                                </figure>
                                            </div>

                                        </div>
                                        <div class="tab2_category_main">
                                            <div class="tab2_category">
                                                <h2 style="cursor: pointer;">{{j?.name}}<span> {{j.brand?.name}}</span>
                                                </h2>
                                                <div class="sub_cate_h4price">
                                                    <h4 *ngIf="j.discount">
                                                        AED{{j?.price - j?.price * j?.discount / 100}}<del>AED{{j?.price}}
                                                        </del><span>{{j?.discount}}% off</span> </h4>
                                                    <h4 *ngIf="!j.discount">AED{{j?.price}}</h4>
                                                </div>
                                            </div>
                                            <div class="selection_main">
                                                <div class="hm_restur_rateing">
                                                    <figure><img alt="" src="assets/images/star.png"></figure>
                                                    <span>0.0</span>
                                                </div>
                                                <div class="like">
                                                    <figure><img src="assets/images/like.png"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- grid -->
                    </div>
                </div>
                
                <mat-paginator [length]="length" [pageSize]="10" *ngIf="!pagehide" [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="PageEvent = pageeventvalue($event,'past')">
                </mat-paginator>
            </div>
        </div>
    </div>
    <app-footer></app-footer>