<app-header></app-header>
<div class="cart_wrap comman_nameing_margin">
    <div class="conta_iner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" (click)="gotohome()">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Cart items</a></li>
            </ol>
        </nav>
        <div class="product_detail_main">
            <div class="product_detail_left">
                <div class="">
                    <div class="list-group">
                        <div class="expansion-panel list-group-item">
                                <div class="media-body product_detail_main">
                                    <div class="panel_content_inner">
                                        <h4>My Cart</h4>
                                    </div>
                                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                                        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                        
                                    </div>
                                  
                                </div>
                        
                                <div class="expansion-panel-body">
                                    <span *ngIf="cartdata?.length === 0">
                                        NO Product
                                    </span>
                                    <div class="">
                                        <div class="">
                                         
                                            <div class="chip fade show" *ngFor="let cart of cartdata">
                                                <div class="product_detail_main cart">
                                                    <div class="cart_left">
                                                        <div class="product_detail_left_inner small">
                                                            <figure *ngIf="cart.productId.images[0]?.image != null"><img
                                                                    [src]="imgUrl+cart.productId.images[0]?.image">
                                                            </figure>
                                                            <figure *ngIf="cart.productId.images[0]?.image == null"><img
                                                                src="assets/images/noimage.png">
                                                        </figure>
                                                        </div>
                                                    </div>
                                                    <div class="cart_right" >
                                                        <div>
                                                            <p>{{cart?.productId.name}}</p>
                                                            <p class="grey_cart">{{cart?.productId.brand.name}}</p>
                                                            <p class="yellow_cart">${{(cart?.productId?.price * cart?.quantity)-(cart?.productId?.price * cart?.quantity) * cart?.productId?.discount/100}}</p>
                                                        </div>
                                                        <span style="color: red;" *ngIf="cart?.productId.purchaseQuantity <= this.i">Max purchased limit reached.</span>
                                                        <div class="orderadd_cart_box">
                                                            <button (click)="subquantity(cart)">-</button>
                                                            <p>{{cart?.quantity}}</p>
                                                            <button (click)="addquantity(cart?._id)">+</button>
                                                        </div>
                                                    </div>
                                                    <div class="crs_btn" (click)="removecart(cart?._id)" ><button class="close" 
                                                             type="button"><i
                                                                class="material-icons" >cancel</i></button></div>
                                                               
                                                </div>

                                            </div>
                                            <!-- <div class="chip fade show" id="chipDismissible2">

                                                <div class="product_detail_main cart">
                                                    <div class="cart_left">
                                                        <div class="product_detail_left_inner small">
                                                            <figure><img
                                                                    src="assets/images/productdetailcamera.png">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="cart_right">
                                                        <p>Black turtleneck top</p>
                                                        <p class="grey_cart">Lotto.LTD</p>
                                                        <p class="yellow_cart">$34.00</p>
                                                    </div>
                                                    <div class="crs_btn"><button class="close" data-dismiss="alert"
                                                            data-target="#chipDismissible1" type="button"><i
                                                                class="material-icons">cancel</i></button></div>
                                                </div>

                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                    </div>
                </div>
                <div class="product_detail_btn">
                    <button (click)="goTocheckout()" *ngIf="cartdata?.length > 0">Place Order</button>
                </div>
            </div>
            <div class="product_detail_right" *ngIf="cartdata?.length > 0">
                <div class="product_detail_right_inner cart">
                    <div class="title_bar cart">
                        <h2>Proceed Payment</h2>
                    </div>
                    <ul class="product_detail_tab_content">
                        <li>
                            <p>Subtotal</p>
                            <p class="right_align">${{price_total}}</p>
                        </li>
                        <!-- <li>
                            <p>Discount</p>
                            <p class="right_align">0%</p>
                        </li> -->
                        <li>
                            <p>Tax</p>
                            <p class="right_align">0%</p>
                        </li>
                        <li>
                            <p>Shipping</p>
                            <p class="right_align">$00.00</p>
                        </li>
                    </ul>
                    <ul class="product_detail_tab_content total">
                        <li>
                            <p>Total</p>
                            <p class="right_align">${{price_total}}.00</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<app-footer></app-footer>