<div class="login_wrap forget_password">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.png"></figure>
            </div>
            <div class="login_form">
                <div class="verification_left">
                    <h4>Forget Password</h4>
                    <form class="forget_input">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Password" name="name">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="verification_left"><button>Submit</button></div>
            </div>
        </div>
    </div>
</div>