.form-group {
    border: 0px solid #ECECEC;
}
.form-control
{
    border: 1px solid #ECECEC;
}
.t_cform
{
    padding: 20px 0px;
}
.t_cform button {
    color: #000;
    font-size: 16px;
    background: #ffcb08;
    border: none;
    padding: 14px 55px;
    border-radius: 100px;
}
