<div class="login_wrap signup">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <figure><img src="assets/images/logo.png"></figure>
            </div>
            <span style="cursor: pointer;" (click)="movetonext()">
                Skip >>>>>
            </span>
            <div class="login_form">
                <h4>Create a nunu account</h4>
                <form [formGroup]="ProfileForm">
                    <div class="user_profile">

                       
                        <div class="user_profile_img">
                            <figure *ngIf="!imgURL"><img src="assets/images/user.png"></figure>
                            <figure *ngIf="imgURL"><img src="{{ imgURL }}"></figure>

                            <input type="file" id="file-input" (change)="onChange($event)" accept="image/*" class="upload_file" />
                        </div>
                        <div class="profile_camera">
                            <img src="assets/images/edit.png">
                        </div>
                    </div>
                    <div class="formn_group_main">
                        <div class="half">
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input   matInput
                                    type="text"
                                    placeholder="First name"
                                    name="firstName"
                                    pattern="^[a-zA-Z]*$" 
                                    maxLength="20"
                                    minlength="3"
                                    (keydown.space)="$event.preventDefault()"
                                    formControlName="firstName">
                                </mat-form-field>
                               
                            </div>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'required')">
                                First Name is required
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'pattern')">
                                First Name is invalid
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'maxLength')">
                                Last name maximum length should be 20.
                          </mat-error>
                          <mat-error class="error" *ngIf="submitted && errorHandling('firstName', 'minlength')">
                            First name minimum length should be 3.
                        </mat-error>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput
                                    type="text"
                                    pattern="^[a-zA-Z]*$" 
                                    (keydown.space)="$event.preventDefault()"
                                    placeholder="Last name"
                                    name="lastName"
                                    maxLength="20"
                                    minlength="3"
                                    formControlName="lastName">
                                </mat-form-field>
                               
                            </div>
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'required')">
                                Last Name is required
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'pattern')">
                                Last Name is invalid
                            </mat-error>
                            <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'maxLength')">
                                Last name maximum length should be 20.
                          </mat-error>
                          <mat-error class="error" *ngIf="submitted && errorHandling('lastName', 'minlength')">
                            First name minimum length should be 3
                        </mat-error>
                        </div>
                        <div class="form-group">
                                <mat-form-field [floatLabel]="'never'"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
                                <input matInput
                                type="text"
                                placeholder="Email Id"
                                name="email"
                                formControlName="email">
                            </mat-form-field>
                          
                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'required')">
                            Email is required
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('email', 'pattern')">
                            Email is invalid
                        </mat-error>
                        <!-- <div class="form-group"> -->
                            <ngx-intl-tel-input
                  placeholder="Enter phone number"
                  [cssClass]="'custom'"
                  [preferredCountries]="[
                    CountryISO.UnitedStates,
                    CountryISO.UnitedKingdom
                  ]"
                  [enableAutoCountrySelect]="false"
                  [enablePlaceholder]="false"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="countryCodeData"
                  [maxLength]="15"
                  [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true"
              
                  name="phone"
                  formControlName="phone"
                  
                
                ></ngx-intl-tel-input>
               <!-- </div> -->
                            <!-- <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Phone number" name="name">
                            </mat-form-field> -->
                        <!-- </div> -->
                        <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'required')">
                            Phone number is required
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('phone', 'maxLength')">
                            Phone number is invalid
                        </mat-error>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password"
                                placeholder="Password"
                                name="password"
                                formControlName="password"
                                minlength="8"
                                maxlength="20">
                            </mat-form-field>
                            
                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password', 'required')">
                            Password is required
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password', 'minlength')">
                          Password should be of atleast 8 characters
                        </mat-error>
                        <mat-error class="error" *ngIf="submitted && errorHandling('password','maxlength')">
                            Password should be maximum 20 characters
                        </mat-error>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput  type="password"
                                placeholder="Confirm Password"
                                name="cpassword"
                                minlength="8"
                                maxlength="20"
                                formControlName="cpassword">
                            </mat-form-field>
                            
                        </div>
                        <mat-error class="error" *ngIf="submitted && errorHandling('cpassword', 'required')">
                            Confirm Password is required
                         </mat-error>
                    </div>
                    <button  (click)="onSumbit()">Sign up</button>
                </form>
            </div>
            <p class="signupp">Already have account? <a (click)="goTologin()">login</a></p>
        </div>
    </div>
</div>