.mat-dialog-container
{
    transform: none;
    margin-top: 192px;
    height: max-content;
    margin-left: 176px;
    padding: 147px;
}
.cancel_orderpop {
    width: 416px;
    padding: 39px 0px;
}
.cancel_orderpop button {
    background: red;
    padding: 11px 40px;
    color: #fff;
    /* margin: 0px auto; */
text-align: center;
display: flex;
justify-content: center;
}
.cancel_orderpop .mat-dialog-actions {
display: flex;
justify-content: center;
}
.cancel_orderpop input{border: 1px solid #ccc;
margin: 0px 0;}
.cancel_orderpop p {font-size: 20px;
margin-bottom: 16px;}