<div class="cancel_orderpop">
  <div mat-dialog-content>
    <p>Do you want to cancel the order ?</p>
    <mat-form-field>
      <mat-label>Reason</mat-label>
      <input matInput type="text" [(ngModel)]="reason" placeholder="Reason">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button [mat-dialog-close]="data" (click)="setdata()" cdkFocusInitial>YES</button>
  </div>
</div>