/* You can add global styles to this file, and also import other style files */

body{font-family: 'Nunito Sans', sans-serif;}
*{margin:0px;padding:0px;outline:none !important;}
html{font-size:10px;scroll-behavior: smooth;}
.conta_iner{width:1180px;margin: auto;}
a:hover, a:focus{color:#00649e;text-decoration:none;}
h1, h2, h3, h4, h5, h6, p{margin:0;}
li{list-style:none;}
ul, ol{padding:0;margin:0;}
.modal-backdrop.in{opacity: 0;display: none;}
.modal-open{overflow: auto;padding: 0px !important;}
.modal {
background: #656060c9;
}
/*****mat****/
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #f9c848 !important;
}
.mat-expansion-panel-header {
 padding: 0!important;    height: unset!important;}
 .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none!important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #f9c848 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #D3D3D3;    padding-left: 16px;
    font-size: 13px;    margin-bottom: 0;    top: 14px;
}
.form-group input:focus {
    box-shadow: none !important;
}
button.login_eye_btn.mat-icon-button.mat-button-base{
    top: 10px;
}
.mat-form-field-label-wrapper {
    top: 0 !important;
    padding-top: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
}
.mat-form-field {width: 100%;    line-height: unset;line-height: 0;}
.mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
}
a{cursor: pointer;}
.intl-tel-input.allow-dropdown {
   
    margin-bottom: 20px;
}
.mat-error {
    color: #f44336;
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
    top: -21px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
input#phone {
    border: 1px solid #ECECEC;
    position: relative;
    border-radius: 50px;
    padding: 10px 7px 10px 48px;
    width: 100%;
  
}
.user_profile_img figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: transparent;
}

.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
}
// .comman_nameing_margin {
//     margin-top: 235px;
// }

.user_profile_img img{object-fit: cover;}
.alert.alert-danger {
    text-align: left;
    color: #d00;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background: none!important;border-radius: 0!important;
    padding: 0!important;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0!important;
}
.mat-form-field-wrapper {padding-bottom: 0 !important;}
.mat-form-field-underline {display: none;}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {background-color: #F9C848;height: 4px;}
/****login***/
.login_wrap {
    height: 100vh;
    background: #FFCB08;color:#000;    display: flex;
    justify-content: center;
    align-items: center;    overflow-y: auto;

}
ul.dropdown-menu {
    display: none;
}
li.dropdown:hover ul.dropdown-menu {
    display: block;
}
.login_form {
    background: #fff;
    padding: 30px 24px 24px 24px;
    border-radius: 20px;
    width: 427px;
    height: auto;    text-align: center;margin: 20px 0;    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login_form h3 {
    font-size: 27px;
    font-weight: bold;    line-height: 37px;
}
.login_form h3 span{display: block;font-weight: normal;    font-size: 25px;}

.login_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    border: 1px solid #ECECEC;
    // overflow: hidden;
    position: relative;
    border-radius: 50px;    margin-bottom: 20px;
}
.alert.alert-danger{
    position: absolute;
    top: 47px;
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    color: #dd0000;
}
button.login_eye_btn.mat-icon-button.mat-button-base {
    background: none;
    padding: 0;
    margin: 0;
    width: 40px;
}
button.login_eye_btn.mat-icon-button.mat-button-base span.mat-button-wrapper {
    color: #BDBDBD;
    font-size: 16px;
}
.mat-form-field-prefix, .mat-form-field-suffix {
    width: 43px;
    top: -4px;
}
.login_form a, p {
    width: 100%;    color: #000;
    font-size: 14px;
    font-weight: 600;    text-align: center;
}
.login_form button {
    background: #ffcb08;
    padding: 16px;
    border-radius: 50px;    margin: 10px 0 21px;
    width: 100%;
    border: none;
    font-size: 16px;}
    ul.connection_img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%; 
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .formn_group_main {
        margin: 40px 0 16px;
    }
    /***********verfification*/
  .login_form  h4 {
        font-size: 20px;
        font-weight: bold;
    }
    p.verification {
        margin: 30px 0 54px;font-size: 15px;    width: 100%;
    }
    p.verification_light {
        color: #8B8B8B;
        margin-bottom: 22px;    text-align: left;
        width: 88%;
    }
    p.verification span {
        font-weight: bold;
    }
.login_main form {width: 100%;}
.forget_password  .login_form {height: 323px;}
.forget_password  .login_form {justify-content: space-between;}
.verification_left {
    width: 100%;
}
form.forget_input {
    margin-top: 40px;
}
/***sign_up***/
.half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half .form-group {
    width: 100%;
}
.login_main .half{flex-direction: column;}
.user_profile_img {
    background: #FCFCFC;
    border: 1px solid #EAEAEA;
    width: 135px;
    height: 135px;
    border-radius: 100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;position: relative;
    align-items: flex-end;
}
.profile_camera img {
    width: auto;
    height: auto;
}
.profile_camera {
    background: #ffcb08;
    height: 27px;
    width: 27px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    margin: auto;
    position: relative;
    bottom: 34px;
}
.signup .formn_group_main {
    margin:0;
}
.user_profile {
    margin-top: 35px;
}
p.signupp a {
    font-weight: bold;    color: #000;cursor: pointer;
}
/***home**/
.banner {
    width: 100%;
    background: #f4f6f8;
    padding: 80px 0;
}
.banner_mn {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;    align-items: center;
   width: 89%;margin: auto;
}
.product-detail_tab .nav-link.active {
    background: #ffcb08;
    color: #000;
}
.banner_left h1 {
    color: #000;
    font-size: 65px;
}
.banner_left p {
    color: #747474;
    font-size: 17px;
    text-align: left;
    margin: 50px 0;
    width: 85%;
}
.banner_left h1 span {
    display: block;
    color: #ffcb08;
    font-weight: 700;    font-size: 62px;
}
.banner_left button {
    background: #ffcb08;
    border: none;
    font-size: 18px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 40px;
}
.banner_left button figure {
    width: 20px;
    height: 20px;
    margin: auto auto auto 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.slick-prev:before, .slick-next:before {
    font-size: 28px !important;
    color: #ffcb08 !important;
}

.banner_right {
    width: 55%;
}
.banner_right figure {
    width: 630px;
    height: 490px;
}
.banner img{width: 100%;}
.services ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
.more_explore_main .hm_restur_rateing {
    display: none;
}
.more_explore_main figure {
    width: 200px;
    height: 200px;
    margin: auto;
}
.services ul a {
    color: #000000;
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
}
.services_content figure {
    width: 96px;
    height: 78px;
}
 img{width: 100%;height: 100%;object-fit: contain;}
.services {
    padding: 30px 0;
}
.services li {
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .all_sec{padding: 50px 0;}

  
    // homeappliance_banner
    .home_appliance_banner {
        width: 100%;
        height: 473px;
    }

   
    .feature_top {
        padding: 10px;
        box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);    border-radius: 5px;
        background: #fff;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feature_bottom h3 {
        color: #2A2A2A;
        font-size: 23px;    line-height: 40px;
        font-weight: normal;    margin-top: 20px;
    }

 
 
    button, a{cursor: pointer;
           color: #ffcb08;
    }

    .column{
    
        margin-bottom: 20px;
    }
    .spinner div {
        height: 200px;
        width: 200px;
    }
    .spinner {
        position: fixed;
        top: -10%;
        left: 0;
        padding: 0;
        right: 0;
        margin: auto;
        bottom: 0;
      //  background-color: rgb(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selection_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hm_restur_rateing {
        background: #f9c848;
        padding: 8px;
        display: flex;
       align-items: center;
    }
    .hm_restur_rateing span {
        font-size: 18px;
        color: #fff;
        margin-left: 8px;
    }
    .like figure {
        height: 38px;
        width: 38px;
    }
 

    .selection_mains h4 del {
        color: #BCBCBC;
        font-size: 20px;
    }
    .selection_mains h4 span {
        color: #00C62E;
        font-size: 15px;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        
    }
    .keep_loged {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

.selection_mains h5 span{font-size:14px;color: #A8A8A8;display: block;}

.title_bar {border-bottom: 1px solid #DEDEDE;}
.featured.all_sec  .title_bar{  border-bottom: none;}

.top_selection {box-shadow: 0 15px 39px 0 rgba(0, 0, 0, 0.2);background: #fff;}
figure.camera {width: 188px;height: 206px;margin: 10px auto;}
.hm_restur_rateing figure{line-height: 0;}
.top_selection .title_bar h2 {margin-bottom: 17px;}
.more_explore_main ul{  display: flex;-webkit-box-pack: justify;-webkit-box-align: center;align-items: center;    flex-wrap: wrap;width: 100%;padding: 30px 0 0;}

.explore_main {
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    margin-bottom: 11px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;position: relative;
}
.slick-dots li button:before {
   
    width: 50px;
    height: 50px;
   
    font-size: 17px!important;
  
}
.banner .slick-dots li.slick-active button:before {
    color: #ffcb08!important;

}
.banner .slick-dots li button:hover:before, .slick-dots li button:focus:before {
    color: #ffcb08!important;
}
.banner.home_appliance_banne .slick-dots li.slick-active button:before {
    color: #000!important;

}
.banner.home_appliance_banne .slick-dots li button:hover:before, .slick-dots li button:focus:before {
    color: #000!important;
}
.flex.btnss  .mat-checkbox-layout .mat-checkbox-label {
   
    font-weight: 500!important;
}



.like {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 10px;
}
/****profile**/
.prfile_left {
    background: #F8F8F8;
    width: 29%;    padding: 30px;    min-height: 407px;
}
.product_deatil_camera {
    margin-bottom: 50px;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #000!important;
}
.profile_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.profile_main .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
    display: flex;margin-top: 40px;
    flex-direction: column;
}
.profile_main  .user_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;    margin-top: 0;position: relative;
}
.profile_main  .user_profile h4 {
    color: #000000;
    font-size: 16px;line-height: 22px;
    margin-left: 20px;
    font-weight: bold;
}
.profile_main  .user_profile h4 span{display: block;font-size: 13px;font-size: 13px;
    font-weight: normal;}
.profile_main .user_profile_img {
  width: 73px;
    height: 73px;

    margin: unset;}
    .profile_main .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 100%;
        text-align: left;
    }
    .profile_main .nav-tabs.nav-justified>li>a {
        border-bottom: none;
        border-radius: 0;
        text-align: left;
        color: #000;
    }
    .profile_right {
        width: 68%;
        box-shadow: 0 15px 39px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        padding: 40px;
    }
    .profile.title_bar h2 span {display: block;font-weight: normal;font-size: 14px;}
    .profile.title_bar h2 {line-height: 33px;}
    .profile_main  .profile_right .user_profile_img {width: 93px;height: 93px;}
    .profile_main .profile_right  .profile_camera {margin: unset;position: absolute;bottom: 7px;left: 33px;width: 25px;height: 25px;}
    .profile_main .profile_right .profile_camera img {width: auto;height: auto;}
    .profile_main .profile_right button {color: #000;font-size: 16px;background: #ffcb08;border: none;padding: 14px 55px;border-radius: 100px;}
    .profile_main .profile_right  .form-group {border: 1px solid #D9D9D9;border-radius: 0;margin-bottom: 15px;}
    .profile_main .profile_right label {color: #000;font-size: 14px;font-weight: bold;}
    .profile_main .profile_right .mat-form-field-empty.mat-form-field-label{font-weight: normal;}
    .grey_line {background: #EBEBEB;margin: 41px 0 30px;width: 100%;height: 1px;}
    .form-control {border: none;box-shadow: none;padding: 0;height: auto;width: 100%;}
    .adre_main {display: flex;box-shadow: 0 15px 39px 0 rgba(0, 0, 0, 0.2);background: #fff;padding: 30px;    margin-bottom: 15px;flex-direction: column;    border-radius: 5px;}
    .addres_main {display: flex;justify-content: space-between;align-items: flex-start;}
    .address_left {width: 45%;}
    .address_right {width: 50%;}
    .adres_bottom a {color: #000;font-size: 14px;font-weight: normal;}
    .adres_bottom {display: flex;justify-content: space-between;align-items: center;}
    .adres_bottom a.span_red {color: #E30606;font-weight: normal;}
    .adre_main  address {color: #434343;font-size: 18px;left: 25px;font-weight: normal;}
    .payment_content .address_left li figure {height: 145px;width: 100%;}
    .payment_content .address_right h4 {font-size: 25px;}
    .mat-input-element {padding: 14px!important;}
    .order_detail_left h3 {color: #310600;font-size: 23px;font-weight: normal;}
    .order_detail_left h3 span {display: block;color: #020202;font-size: 11px;margin: 11px 0;}
    .order_detail_left {display: flex;justify-content: space-between;align-items: center;padding: 13px;}
    .order_detail_right h4 span {color: #D0D0D0;font-size: 12px;font-weight: bold;display: block;}
    .order_detail_right h4 {color: #000000;font-size: 14px;width: 50%;padding: 13px;    border-top: 1px solid #E5E5E5;line-height: 23px;}
    .order_detail_right {display: flex;justify-content: space-between;align-items: center;}
    .mat-tab-body-content {height: 100%;padding: 20px 0;overflow: hidden;}
    ul.order_detail li {border: 1px solid #E5E5E5;border-top: 1px solid #E5E5E5;border-radius: 6px;margin-bottom: 30px;}
    .order_detail_right h4.blue_color{ border-left: 1px solid #E5E5E5;color: #05599A;}
    h4.yellow_color {color: #F9C848;}
    h4.green_color {color: #FFCB08;}
    ul.approved_ordder li {padding-bottom: 50px;position: relative;z-index: 1;}
    ul.approved_ordder li:before {content: "";border-left: 2px dotted #FFCB08;position: absolute;left: 14px;height: 100%;z-index: -1;top: 25px;}
    .aproved_order_main {display: flex;justify-content: start;align-items: center;align-items: flex-start;}
    .approved_order_inner {background: #FFCB08;height: 32px;width: 32px;border-radius: 100px;display: flex;justify-content: center;align-items: center;}
    .approved_order_inner2 {background: #E8B530;height: 12px;width: 12px;border-radius: 100px;}
    .approved_order_right h5 {color: #000;font-size: 16px;margin-top: 7px;line-height: 29px;}
    .approved_order_right h5 span {display: block;color: #646464;}
    .order_detail_wrap .orderdetail_left {width: 47%;}
    .orderdetail_main {display: flex;justify-content: space-between;align-items: flex-start;}
    .order_detail_wrap .orderdetail_right {box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);background: #fff;width: 48%;padding: 50px 30px;}
    .order_detail_wrap .order_detail_left {padding: 0;align-items: flex-start;flex-direction: column;width: 60%;}
    .order_detail_wrap .order_detail_content {display: flex;justify-content: space-between;align-items: center;}
 
   .order_detail_wrap .order_detail_right h4.blue_color {border-left: none;font-size: 17px;text-align: right;width: 100%;    border-top: none;}
    .bill_detail li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order_detail_wrap  .orderdetail_left li h3 {
        color: #000000;
        font-size: 18px;
        margin-top: 20px;
    }
    ul.item_total li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul.approved_ordder  h4 {
        color: #000;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 25px;
    }
    .approved_order_right h3 {
        color: #000;
        font-weight: bold;
        font-size: 18px;
    }
    .approved_order_right h3 span {
        font-weight: normal;
        margin-left: 20px;
    }

    .approved_order_left {
        margin-right: 17px;
    }
    ul.get_help {
        background: #FAFBFC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 66px;
    }
    ul.get_help li {
        text-align: center;
        width: 50%;
    }
    ul.get_help li a {
        color: #868B90;
        font-size: 18px;
        font-weight: 600;
    }
    .addres_main.two {
        align-items: center;
    }
.border_right_order {background: #F0F0F1;
    width: 2px!important;
    height: 66px;}
    ul.approved_ordder li:last-child::before{content: unset;}
    .order_detail_wrap .order_detail_left ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order_detail_wrap .orderdetail_left button {
        background: #E02020;
        border: none;
        color: #fff;
        padding: 17px 220px;
        border-radius: 100px;
        font-size: 18px;
        width: 100%;
    }
    ul.item_total {
        border-top: 1px solid #F0F0F0;
        border-bottom: 1px solid #F0F0F0;
        padding: 16px 0;    margin: 0px 0 38px;
        
}
ul.item_total li:last-child h3{font-size: 19px;font-weight: 600;}
ul.item_total li:last-child h3.extrabold_order{font-size: 26px;}
p.orderdetail_p {
    color: #111111;
    font-size: 15px;
    text-align: left;
    width: 60%;
    margin-top: 15px;
}
.order_detail_wrap  .order_detail_right h4 span {
    color: #000;
    font-size: 18px;
    font-weight: normal;
    
}
ul.bill_detail h4 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
ul.bill_detail {
    border-top: 1px solid #F0F0F0;
    margin: 17px 0 0;
    padding: 30px 0;
}
.breadcrumb {
    padding: 0;
    list-style: none;
    background: none;border-radius: 0;margin: 30px 0;}
.profile_wrap .title_bar {border-bottom: none;}
.profile_wrap  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border-bottom-color: #ddd;}
.profile_right .mat-tab-label-content {color: #000;font-size: 21px;    margin-bottom: 20px;font-weight: normal;}
.profile_right  .mat-tab-label {padding: 0;}
.profile_right .mat-tab-body-content {padding: 30px 0 0;}
/***categories_toy**/
.toy_banner_list {display: flex;justify-content: space-between;align-items: center;}
ul.toy_banner_list figure {width: 368px;height: 210px;}
ul.toy_banner_list li {width: 32%;}
.categories_top_main {display: flex;justify-content: space-between;align-items: flex-start;}
.categories_left_top {width: 32%;box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);background: #fff;padding: 20px;}
.categories_right_top {width: 65%;}
.categories_right_top ul {display: flex;align-items: flex-start;flex-wrap: wrap;}
.categories_right_top ul li{width: 45%;    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);background: #fff;margin: 0 20px 20px 0;text-align: center;padding: 20px;}
.categories_right_top ul li figure {width: 270px;height: 260px;overflow: hidden;margin: auto;}
.categories_right_top ul li figure img {width: 100%;height: 100%;object-fit: contain;}
.categori_detail_wrap .categories_left_top button.btn.btn-link {align-items: center;padding: 9px 0;text-decoration: none;font-weight: 600;}
.categori_detail_wrap .categories_left_top button.btn.btn-link:hover{color:#333;}
.categori_detail_wrap .categories_left_top ul.accordion li:last-child .categories_left_top button.btn.btn-link{border-bottom: none;}
.categories_right_top ul li  h3 {color: #434343;margin-bottom: 22px;font-size: 30px;}
.categories_right_top ul li h5 {color: #434343;font-size: 22px;}
.categories_left_top button.btn.btn-link {color: #A0A0A0;font-size: 14px;border-bottom: 1px solid #eceaea;width: 100%;text-align: left;padding: 15px 0;}
.categories_left_top  button.btn.btn-link:hover {text-decoration: none;}
.more_explore_main .title_bar {border-bottom: none!important;    display: flex;justify-content: space-between;width: 100%;align-items: center;}
.more_explore_main .title_bar h2 {text-align: center;font-size: 33px;position: relative;text-transform: uppercase;    width: 100%;}
.more_explore_main .title_bar h2::after{background: url(assets/images/explore_line.png);content: '';position: absolute;width: 33%;height: 30px;background-repeat: no-repeat;display: inline;justify-content: center;align-items: center;top: 12px;margin-left: 34px;}
.more_explore_main .title_bar h2::before{background: url(assets/images/explore_line.png);content: "";position: absolute;width: 33%;height: 30px;background-repeat: no-repeat;display: inline;-webkit-box-pack: center;justify-content: center;-webkit-box-align: center;align-items: center;margin-right: 0;left: 0;transform: rotate(180deg);bottom: 13px;}
.categori_detail_wrap .more_explore.all_sec {padding-top: 100px;}
/****category***/
.category_main {display: flex;justify-content: space-between;align-items: flex-start;}
.category_left {width: 25%;}
.category_left_nner {background: #F8F8F8;padding: 20px;}
.category_right {width: 73%;}
.category_left_nner li {color: #414141;font-size: 15px;line-height: 35px;padding: 0px 8px;}
.category_left_nner h4 {color: #000000;font-size: 18px;font-weight: bold;margin: 21px 0 24px;}
.price_navbar ul {display: flex;justify-content: space-between;align-items: center;}
.price_navbar ul li {width: 48%;line-height: normal;}
.price_navbar ul li .form-group {border: 1px solid #CCCCCC;border-radius: 10px;margin-bottom: 05px;}
.category_left_nner .mat-checkbox-layout {flex-direction: row-reverse;width: 100%;justify-content: space-between;}
.category_right .more_explore_main li {width: 31%;margin-right: 25px;}
.price_navbar_checkout span {color: #414141;font-size: 15px;font-weight: normal;}
.price_navbar_checkout i.fa.fa-star {color: #f9c848;font-size: 18px;letter-spacing: 2px;}
.price_navbar_checkout .mat-checkbox.mat-accent.mat-checkbox-checked span.mat-checkbox-label {color: #f9c848;}
.category_top_bar {display: flex;justify-content: space-between;align-items: center;padding: 8px 15px;    background: #f5f5f5;}
.vategory_left_bar {width: 40%;}
.vategory_left_bar p {text-align: left;}
.category_right_bar {width: 49%;}
.right_Align{text-align: right;}
ul.collpase_bar {justify-content: space-between;padding: 0;}
ul.collpase_bar li {display: flex;justify-content: flex-end;align-items: center;width: 70% !important;margin-right: 0!important;}
ul.collpase_bar li .form-group {border: 1px solid #CCCCCC;border-radius: 6px;margin-bottom: 5px;padding: 12px 16px;}
ul.collpase_bar li p{width: 30%;margin-right: 11px;}
ul.collpase_bar li.row_top_bar{width: 29%!important;}
ul.collpase_bar li.row_top_bar .form-group {padding: 0;    width: 34px;
    height: 35px;text-align: center;display: flex;justify-content: center;align-items: center;}
.category_wrap button#dropdownMenuButton {border: 1px solid #CCCCCC;border-radius: 5px;margin-bottom: 5px;background: none;}

/****product_detail***/
.product_detail_main {display: flex;justify-content: space-between;align-items: flex-start;width: 100%;}
.product_detail_left {width: 55%;    position: relative;}
.product_detail_right {width: 40%;}
.product_detail_left_inner {
    width: 636px;
    height: 467.63px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_detail_left figure {
    height: 340.95px;
    width: 560px;
}
.small_img ul {
    display: flex;    margin-top: 12px;
    align-items: center;
}
.small_img ul li {
    height: 99px;
    width: 99px;
    border: 1px solid #EFEFEF;    display: flex;
    justify-content: center;
    align-items: center;margin-right: 10px;
}
.small_img ul li figure {
    height: 75px;
    width: 77px;
}
.product_detail_right_inner h3 {
    color: #2A2A2A;
    font-size: 17px;
    width: 86%;font-weight: bold;
    line-height: 25px;
}
.product_detail_right_inner p {
    color: #000000;
    font-size: 23px;
    text-align: left;
    margin: 23px 0 19px;
}
.like figure {
    width: 20px;
    height: 20px;
}
.product_detail_right_inner p del {
    font-size: 14px;
    color: #2A2A2A;    margin: 0 17px;
}
.product_detail_right_inner p span {
    color: #00C62E;
    font-size: 20px;
}
.cart_services_left figure {
    height: 31px;
    width: 35px;
}
.orderadd_cart_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F6;
    border-radius: 4px;
    width: 146px;
    height: 51px;
    margin-top: 17px;
}
.cart_right .orderadd_cart_box p {
    text-align: center;
    color: #565656;
    font-size: 21px;
    line-height: normal;
    margin-left: 0;
}
.orderadd_cart_box button {
    font-size: 26px;
    background: none;
    border: none;
    color: #565656;
    padding: 0 14px;
}
.cart_wrap {
    padding-bottom: 74px;
}
.cart_wrap .expansion-panel-body {
    padding: 19px 20px;
    border-top: 1px solid #F4F4F4;
}
.cart_services_right h3 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.cart_services_right h3 span {
    display: block;
    color: #C7C7C7;    margin: 7px 0 0;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}.cart_services_main {
    display: flex;    margin-bottom: 24px;
    align-items: center;
}
.cart_services_main.sold {
    border-bottom: 1px solid #EFEFEF;
    margin: 0px 0 25px;
}
.cart_services_left {
    margin-right: 21px;    width: 37px;
}
.cart_services_right {
    width: 80%;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #000;
    background-color: #ffcb08!important;
  
    border-color: #ffcb08!important;
}
.btn-primary:hover {
    color: #000; background-color: #ffcb08!important;
  
    border-color: #ffcb08!important;
}
.good_rating_right h5 {
    color: #FFCB08;
    font-size: 16px;
    font-weight: bold;
}
.product_detail_right_inner .hm_restur_rateing span {
  color: #000000;
}
.good_rating_left_inner h5 {
    font-size: 19px;
    color: #2A2A2A;
}
.product_detail_right .hm_restur_rateing {
  padding: 7px 11px;
   border-radius: 5px;
}
.selection_main.inner {
    width: 39%;
}
.product_detail_btn button {
    color: #000000;
    font-size: 17px;
    background: #FFCB08;
    border: none;
    padding: 17px 70px;
    border-radius: 100px;    box-shadow: none!important;
    font-weight: normal!important;line-height: normal;
}
.product_detail_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.product-detail_tab {
    margin-top: 30px;width: 55%;
}
.product-detail_tab a {
    color: #BEBEBE;
    font-size: 17px;padding: 15px 5px !important;border-bottom: none!important;
    border-radius: 0!important;
}
.product-detail_tab .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: none;
    background: #FFCB08;
    color: #000000;
}
.product-detail_tab  .nav>li>a:hover {
   color:#000;
    background-color: #FFCB08;
}

.product-detail_tab .product_detail_tab_content h3 {
    color: #2A2A2A;
    font-size: 24px;
    font-weight: bold;   margin: 20px 0;
}
.product-detail_tab .product_detail_tab_content p {
    color: #656565;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-weight: normal;
   
}
.product_detail_tab_content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-detail_tab .product_detail_tab_content p.right_align {
    text-align: right;
}
.product_detail_tab_content .product_detail_left_inner {
    height: 200px;margin-bottom: 15px;
    border-radius: 8px;
    padding: 10px 15px;
}
.client_feedback_img figure {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #fff;
    overflow: hidden;
}
.client_feedback {display: flex;align-items: center;margin-bottom: 10px;}
.client_feedback_img {width: 13%;}
.client_feedback_img figure  img {object-fit: cover;}
.client_name .hm_restur_rateing {width: 51px;border-radius: 7px;height: 32px;margin-top: 5px;}
.client_name .hm_restur_rateing span {color: #000;}
.client_name h4 {color: #000;font-size: 20px;}
.cart_wrap .product_detail_btn {justify-content: flex-end;align-items: flex-end;background: #F8F8F8;box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);padding: 20px;}
ul.product_detail_tab_content.total {border-bottom: 1px solid #DEDEDE;border-top: 1px solid #DEDEDE;}
.product_detail_right_inner.cart p {color: #919191;font-size: 19px;margin: 14px 0 14px;}
.product_detail_right_inner.cart p.right_align {text-align: right;}
ul.product_detail_tab_content.total p {color: #000;}
.cart_wrap .expansion-panel-icon.ml-3.text-black-secondary {padding: 19px 20px;}
.cart_wrap .expansion-panel-toggler.collapsed .expansion-panel-icon.ml-3.text-black-secondary {transform: rotate(180deg);}
/***cart***/

.chip .close {
    font-size: inherit;
    line-height: inherit;
    margin-right: -.5rem;
    margin-left: .25rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    -ms-flex-order: 1;
    order: 1;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.fade.show {
    opacity: 1;
}
div#accordionThree {
    width: 100%;
}
.checkout_wrap .mat-radio-button {
    
    width: 100%;
}
.checkout_wrap .mat-radio-label-content {width: 100%;}
.checkout_wrap .mat-radio-label {flex-direction: row-reverse;}
.checkout_wrap .adre_main {border: 1px solid #F0F0F0;box-shadow: none;width: 97%;}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {background-color: #667EEA;}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {border-color: #B2B2B2;}
.mat-radio-outer-circle {border-width: 1px;}
.media-body::after{content:unset;}
.media-body::before{content:unset;}
.product_detail_left_inner.small {height: 140px;width: 140px;}
.product_detail_left_inner.small figure {height: 100%;width: 100%;}
.product_detail_main.cart {justify-content: flex-start;border: 1px solid #F0F0F0;border-radius: 5px;padding: 20px;margin-bottom: 20px;}
.cart_right p {text-align: left;color: #434343;font-size: 17px;line-height: 28px;}
.cart_right p.grey_cart {color: #919191;}
.cart_right p.yellow_cart {color: #FFCB08;font-weight: bold;}
.product_detail_left .list-group-item {padding:0px!important;border: none;box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);margin-bottom: 24px!important;}
.checkout_wrap .product_detail_btn{margin-top: 0;justify-content: center;-webkit-box-align: end;align-items: center;background: none;box-shadow: none;padding: 20px;}
.checkout_wrap  .product_detail_btn button {padding: 17px 150px;}
.adre_main.cards {padding: 0 20px!important;flex-direction: row;border: none;background: #396AFC;color: #fff;justify-content: space-between;align-items: center;height: 145px;}
.adres_left figure {width: 65px;height: 39px;}
.mat-radio-button.mat-accent.cdk-mouse-focused.mat-radio-checked .form-group1{ opacity: 1;}
.form-group1{opacity: 0;background: #fff;border-radius: 3px;color: #BFBFBF;width: 116px;margin-top: 13px;}
.form-group1 .mat-form-field-appearance-legacy .mat-form-field-label {    font-size: 20px;top: 10px}
.checkout_wrap .product_detail_right h3 {color: #000000;font-size: 16px;padding: 30px 0 15px;font-weight: bold;border-top:1px solid #D8D8D8;}
.checkout_wrap .product_detail_right .adre_main {border: none;box-shadow: none;width: 100%;padding: 0;}
.title_bar.cart {border-bottom: none;}
.panel_content_inner {color: #000;font-size: 19px;padding: 19px 20px;width: 100%;}
.checkout_wrap .expansion-panel-body {padding: 19px 20px; border-top: 1px solid #F4F4F4;}
.checkout_wrap .expansion-panel-icon.ml-3.text-black-secondary {padding: 19px 20px;}
.checkout_wrap .expansion-panel-toggler.collapsed .expansion-panel-icon.ml-3.text-black-secondary {transform: rotate(180deg);}
.checkout_wrap .product_detail_right .product_detail_btn {padding: 20px 0;width: 100%;}
.checkout_wrap .product_detail_right .product_detail_btn button {width: 100%;}
.checkout_wrap .product_detail_right .adre_main.cards {margin-bottom: 30px;}
.adres_left {display: flex;flex-direction: column;justify-content: space-between;align-items: flex-end;}
.adres_left h4 {color: #fff;font-size: 11px;font-weight: bold;}
.adres_left h4 span{display: block;}
.crs_btn {width: 100%;}
.adres_right p span {font-size: 8px;}
.adres_right p {color: #fff;text-align: left;font-weight: normal;font-size: 18px;margin: 8px 0;}
.product_detail_right_inner .adres_right p span {font-size: 8px;color:#fff}
.product_detail_right_inner.cart .adres_right p {color: #fff;text-align: left;font-weight: normal;font-size: 18px;margin: 8px 0;}
.adres_left.height {height: 81px;}
//modale
.text-box .btn:link,
.text-box  .btn:visited {text-transform: uppercase;text-decoration: none;padding: 15px 40px;display: inline-block;border-radius: 100px;transition: all .2s;position: absolute;}
.text-box  .btn:active {transform: translateY(-3px);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);}
.text-box .btn-white {background-color: #EEEEEE;color: #fff;z-index: 1;position: relative;border-radius: 100px;padding: 40px;margin-bottom: 50px;}
.text-box  .btn::after {content: "";    z-index: -1;display: inline-block;  height: 100%;width: 100%;border-radius: 100px;position: absolute;top: 0;left: 0;transition: all .4s;background-color: #F8F8F8;animation: moveInBottom 2s ease-out infinite;}
.text-box  .btn:link, .btn:visited {text-transform: uppercase;text-decoration: none;padding: 40px;display: inline-block;border-radius: 100px;transition: all .2s;position: absolute;}
@keyframes moveInBottom {
  100% {
       transform: scaleX(1.8) scaleY(1.8);
        opacity: 0;
    }
}
.mat-dialog-content {max-height: unset!important;overflow: unset!important;margin: 0!important;padding: 0!important;}
.text-box {width: 479px;height: 433px;text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.cdk-overlay-pane {width: auto!important;height: auto;}
.text-box h3 {color: #434343;font-size: 26px;}
.text-box p {color: #656565;font-size: 16px;font-weight: normal;width: 50%;margin: 20px auto 0;}
.mat-dialog-actions {padding: 0;display: flex;flex-wrap: wrap;min-height: 0;align-items: center;margin-bottom: 0;}
button.mat-button.mat-button-base{min-width: auto;line-height: normal;}
.btn-white figure {height: 47px;width: 47px;}
ol.breadcrumb a {color: #707070;text-decoration: none;font-size: 16px;}
.breadcrumb>.active {color: #707070;}
.wishlist .more_explore_main .title_bar h2::after {margin-left: 78px;}
.breadcrumb>li {display: inline-block;font-size: 16px;}
.category_right .more_explore_main2 li {
    width: 100%;margin-right: 0;
}

.category_right .more_explore_main2 li .selection_mains {
    display: flex;
    align-items: center;margin-bottom: 0px;
}
.category_right .more_explore_main2 li .selection_mains figure.camera {
    width: 203px;
    height: 203px;
    margin: auto;
    padding: 13px;
}
.tab2_category_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.category_right .more_explore_main2 li .selection_main {
   flex-direction: column;
}
.category_right .more_explore_main2 li .tab2_category h2 {color: #2A2A2A;font-size: 35px;margin-bottom: 28px;}
.category_right .more_explore_main2 li  .tab2_category {padding-left: 26px;}
.category_right .more_explore_main2 li  .tab2_category h2 span {color: #A8A8A8;font-size: 13px;display: block;font-weight: bold;margin-top: 10px;}
.category_right .more_explore_main2 li .selection_mains h4 {font-size: 30px;}
.category_right .more_explore_main2 li .selection_mains h4 del {font-size: 21px;margin: 0 15px;}
.category_right .more_explore_main2 li .selection_mains h4 span {font-size: 19px;}
//pagination
nav.pagination_main {
    padding: 50px 0;    text-align: right;
}
.pagination>li>a, .pagination>li>span {
  cursor: pointer;
    color: #A8A8A8;
    border: none;
    font-size: 14px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
   color:#000;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.cart_right {
    width: 50%;    margin-left: 20px;
}
button.address_modale_btn {
    color: #000;
    font-size: 16px;
    background: #ffcb08;
    border: none;
    padding: 14px 55px;
    border-radius: 100px;
    margin-top: 13px;
}
.cart_wrap .formn_group_main {
    margin: 20px 0 16px;
}
h5#exampleModalLongTitle {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.modal-dialog.checkout .modal-header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal-dialog.checkout .modal-header button.close {background: #ffcb08;opacity: 1;padding: 6px 10px;border-radius: 100px;position: relative;top: -36px;left: 30px;}
.checkout_wrap .btn-primary:hover , .btn-primary.focus, .btn-primary:focus{color: #000;background:#FFCB08!important;border:none!important;}
.modal-dialog.checkout .modal-header::after{content: unset;}
.modal-dialog.checkout .modal-header::before{content: unset;}
.modal-dialog.checkout .modal-body {padding:30px;}
.modal-dialog.checkout .formn_group_main {margin: 0px 0 16px;}

/*********14 april add css****************/
.navbar {
margin-bottom: 0;
border: 0;
box-shadow: 0 5px 6px #0000001a;
}
.categories_left_top .card-body ul li {
    font-size: 15px;
    color: #000;
    padding: 0 0 10px;
}
.categories_left_top .card-body ul {
    margin: 20px 0 0;
}

/*facebook css***/
.loginBtn {
    padding: 0 3px 0 32px !important;
    line-height: 20px !important;
    font-size: 12px !important;
    margin: 0 !important;
}
.loginBtn:before {
    width: 23px !important;
    height: 100% !important;
    background-size: 10px !important;
}

/********start 12-August-2020********/
.featured ul {
display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;
flex-wrap: wrap;
}
.featured ul li {
    width: 19%;
    margin: 0px 14px 14px 0px;
}
.featured ul li:nth-child(5n) {
margin-right: 0px;
}
.feature_main {width: 100%;margin-bottom: 0px;}
.feature_bottom h3 span{color: #00C62E;display: block;text-align: center;}
.more_explore_main li {
width: 19%;
margin: 0px 14px 14px 0px;
}
.more_explore_main li:nth-child(5n){margin-right: 0;}
.selection_mains  h5 {color: #2A2A2A;font-size: 23px;line-height: 33px;font-weight: normal;text-align: center;}
.adds ul {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.adds ul li {
width: 49%;
margin-bottom: 25px;
overflow: hidden;height: 260px;
}
.adds ul figure {
width: 100%;
height: 100%;
}
.adds ul figure img{object-fit: cover;}
.home_page .top_selection {
box-shadow: none;
padding-top: 0px;
}
.home_page .title_bar {
    border: none;
}   
// .home_page .title_bar h2 {
//     border-bottom: 1px solid #ccc;
//     padding-bottom: 16px;margin: 0px;
// }
.top_selection ul {display: flex;justify-content: flex-start;align-items: center;width: 100%;padding: 30px 0 0;flex-wrap: wrap;}
.top_selection li {
width: 19%;
margin-right: 14px;
margin: 0px 14px 14px 0px;
padding: 0px;
border: 1px solid #DEDEDE;
background: #fff;
padding: 10px;
position: relative;
}
.more_explore_main .selection_mains {border: none;background: no-repeat;    margin-bottom:0px;padding: 0;}

.title_bar h2 {
    font-size: 30px;
    font-weight: bold;margin-bottom: 0px;
    color: #000000;
}
.top_selection li:nth-child(5n) {
    margin-right: 0px;
}
// .selection_mains {
//     border: 1px solid #DEDEDE;
//     background: #fff;
//     padding: 15px;
//     position: relative;
// }
.selection_mains h4 {
color: #000000;    margin-bottom: 15px;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 19px;
font-weight: normal;    margin-bottom: 8px;
}
/*******new class bas css*****/
ul.cate_banner {
display: flex;
justify-content: flex-start;
align-items: stretch;
flex-wrap: wrap;
padding: 0px;
}
.cate_banner li {
    width: 32% !important;
    margin: 0 17px 11px 0px !important;
    height: 276px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: stretch;
    border: 1px solid #cccccc6e;overflow: hidden;justify-content: center;
}

ul.cate_banner .camera {
height: 100% !important;
width: 100% !important;
margin: unset !important;
padding: 0px !important;
}

// .category_wrap .more_explore_main li:nth-child(3){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(6){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(9){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(12){margin-right: 0!important;}
// .category_wrap .more_explore_main li:nth-child(4){margin-right: 25px!important;}
// .category_wrap .more_explore_main li:nth-child(8){margin-right: 25px!important;}
ul.cate_banner li .explore_main {
    box-shadow: none;
    min-height: auto;
    padding: 0px;
    align-content: normal;
    margin: 0px;
    display: unset;
}
.cate_banner li:nth-child(3n) {
    margin-right: 0px !important;
}
.category_right .more_explore_main2 li:nth-child(4){    margin-right: 0px;}
/*****sub category********/
ul.subcate_banner {
display: flex;
justify-content: flex-start !important;
align-items: stretch !important;
}
ul.subcate_banner li {
width: 32% !important;
margin: 0 17px 11px 0px !important;
background: #eae9e9;
}
ul.subcate_banner li .selection_mains {
display: unset !important;
}
ul.subcate_banner li:nth-child(3n){
margin-right: 0px !important;
}
ul.subcate_banner li .explore_main {
    min-height: 273px;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px;box-shadow: none;
}
ul.subcate_banner li .explore_main figure {
width: 100%;
height: auto !important;
margin: 0px !important;
padding: 0px !important;
}
ul.subcate_banner li span {
text-align: center;
display: block;padding: 10px;
}
/********sub cate with name********/
ul.sub_prodwith_name li {
width: 100%;
display: flex;justify-content: flex-start;
background: #ccc3;
margin-bottom: 20px;
}
ul.sub_prodwith_name li .explore_main {
box-shadow: none;
padding: 0px;
min-height: auto;
margin: 0px;display: unset;
}
ul.sub_prodwith_name li .selection_mains {
height: 160px;
overflow: hidden;
width: 160px;
display: flex;
justify-content: center;
align-items: center;
}
ul.sub_prodwith_name li .tab2_category {
    padding-left: 0px !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}
ul.sub_prodwith_name li .tab2_category_main {
    display: flex;
    width: 82%;
    align-items: stretch;
    padding: 21px;
}
ul.sub_prodwith_name li figure {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
}
ul.sub_prodwith_name li .tab2_category h2 {
    margin: 0px !important;
    font-size: 21px !important;
    font-weight: 600;
}

ul.sub_prodwith_name li .tab2_category h4 {
    align-self: center;line-height: 23px;
    color: #000;
    font-weight: 700;    word-break: break-word;
}
.sub_cate_h4price {
    border-left: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 15px;width: 20%;
}
ul.sub_prodwith_name li .tab2_category h4 del {
    color: #b9aeae;
    padding-left: 5px;
    font-size: 15px;font-weight: 400;
}
ul.sub_prodwith_name li .tab2_category h4 span {
    color: rgb(56, 174, 4);
    font-size: 14px;
    font-weight: 600;display: block;
}
.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 40px 1px;
}


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
background-color: #F9C848 !important;
height: 0px;
}
.profile_right .mat-tab-label-content {
margin-bottom: 0px;
}
.mat-tab-label-active {
background: #ffcb08;
opacity: 1 !important;
}
.repeat_btn_orderdet button {
background: #337ab7 !important;
width: fit-content !important;
padding: 13px 23px !important;
border-radius: 0px !important;
margin-bottom: 26px;    margin-right: 16px;
}
.header_product_list ul {
display: flex;
justify-content: flex-start;
align-items: stretch;
flex-wrap: wrap;
}
.header_product_list ul li {
width: 19%;
margin-right: 14px;
margin-bottom: 14px;
}
.header_product_list ul li:nth-child(5n){margin-right: 0px;}

.header_product_list ul li h2 {
font-size: 19px;
white-space: pre-wrap;
line-height: 20px;
margin-bottom: 7px;
}
.header_product_list ul li .explore_main {
box-shadow: none !important;
height: 220px;
overflow: hidden;
min-height: 220px;
}
.header_product_list ul li .explore_main figure.camera {
width: 100%;
height: 100%;
margin: 0px;
background: #e8e7ed;
}
li.nav-item.active a {
background: #fdca08;
}
button.mat-paginator-navigation-previous.mat-icon-button.mat-button-base {
    background: transparent;
    padding: 0px !important;
}
button.mat-paginator-navigation-next.mat-icon-button.mat-button-base {
    background: transparent;
    padding: 0px;
}
li.dropdown.categories_dropdown.ng-star-inserted.open .dropdown-menu.ng-star-inserted {
    display: none;
}

@media(max-width:2000px) {

.login_wrap.signup{height: 100vh;padding: 20px 0;}

.logoheader .header-logo img {width:150px;}

}

@media(max-width:1500px) {
    .login_wrap {
        height: 100%;
        padding: 60px 0;
    }

    .services_content figure {width: 81px;}
    .services ul a {font-size: 16px;}
    .feature_bottom h3 {
       font-size: 21px;
        line-height: 35px;}
        .home_appliance_banne.all_sec {
            padding: 0 0 50px;
        }
        .more_explore_main .title_bar h2 {
        font-size: 30px;}
        .more_explore_main .title_bar h2::after {
             margin-left: 60px;
        }
        
        .hm_restur_rateing {
         
            padding: 6px;
        }        
        .hm_restur_rateing span {
            font-size: 16px;
        
            margin-left: 6px;
        }
        .hm_restur_rateing figure {
            width: 16px;
            height: 16px;
            overflow: hidden;
        }
        .like figure {height: 34px;width: 34px;}
        .selection_mains h4 {margin-bottom: 12px;}
        .selection_mains h5 {font-size: 24px;line-height: 31px;}
        .more_explore.all_sec {
            padding: 50px 0 15px;
        }
//productdetail
.categories_right_top ul li h3 {
  
    font-size: 27px;
}
.categories_right_top ul li h5 {
  
    font-size: 21px;
}
.categories_right_top ul li figure {
    width: 250px;
    height: 230px;
}

.category_right .more_explore_main2 li .tab2_category h2 {
 
    font-size: 32px;
}

.category_right .more_explore_main2 li .selection_mains h4 {
    font-size: 28px;
}
.category_right .more_explore_main2 li .selection_mains h4 del {
    font-size: 20px;}
    .category_right .more_explore_main2 li .selection_mains h4 span {
        font-size: 17px;
    }
    .category_right .more_explore_main2 li .tab2_category h2 span {
     
     
     
        margin-top: 6px;
    }
/*cart*/
.product_detail_right_inner.cart p {
    
    font-size: 18px;
    margin: 10px 0 16px;
}
.title_bar h2 {
    font-size: 28px;
   
    margin-bottom: 30px;

}
}
.upload_file {opacity:0;width:100%;height:100%;position:absolute;top:0;left:1px;}
input#file-input {
    opacity: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
  }
