/******popup csss**************/
.sign_up_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .sign_up_icon p figure {
        width: 56%;
        margin: 0px auto;
    }
    
    .sign_up_icon p span {
        font-size: 17px;
        font-weight: 600;
        margin-top: 6px;
        display: block;
    }
    .sign_up_icon p {
        width: 15%;
    }
  
    .home_appliance_banne{width: 100%;
        background: #ffcb08;
        padding: 10px 0;}


        .home_appliance_banne .banner_left button {
            background: #fff;}

            .banner_left h2 {
                font-size: 42px;
                color: #000;
                font-weight: 800;
            }

            .banner_left h3 {
                font-size: 30px;
                color: #000;
                padding: 20px 0;
            }
        
    .setting_popup h2 {
        background: #c1c8d9;
        padding: 7px 9px;
        font-size: 17px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
    }
    .setting_popup_bx {
        margin-top: 2rem;
    }
    .setting_compent {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 15px;
    }
    .setting_icon {
    width: 6%;
    }
    .setting_dropdown {
    width: 94%;
    }   
    .setting_dropdown label {
    width: 100%;
    }
    .setting_dropdown select {
    width: 100%;
    padding: 7px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    }
    .setting_popup {
    margin-bottom: 19px;
    }
    .setting_icon svg {
    width: 30px;
    height: 24px;
    }
    h2.plz_login {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    background: #ffcb08;
    padding: 6px 0px;
    font-size: 24px;
    margin-bottom: 14px;
    }
    .close {
        position: absolute;
        top: -14px;
        right: -13px;
        color: white;
        opacity: 1;
        background: #000;
        border-radius: 50px;
        height: 30px;
        width: 30px;
    }
    