<app-header></app-header>
<div class="all_sec header_product top_selection">


    <div class="conta_iner">
        <h1 align="center">Category Products</h1>
        <div class="header_product_list">
            <ul>

                <li class="btn " (click)="gotoproductDetails(i?._id)" *ngFor="let i of productdata">
                    <div class="selection_mains">
                        <div class="selection_main">
                            <div class="hm_restur_rateing" *ngIf="i?.avgRatings != 0">
                                <figure><img alt="" style="cursor: pointer;" src="assets/images/star.png"></figure>
                                <span>{{i?.avgRatings | number}}</span>
                            </div>
                            <!-- <div class="like" *ngIf="!i?.isFavourite" data-toggle="modal" data-target="#myModal">
                                <figure><img style="cursor: pointer;" [src]="{{favicon}}"
                                        (click)="addfavlist(bestseller._id)"></figure>
                            </div> -->
                            <!-- <div class="like" *ngIf="i?.isFavourite" data-toggle="modal"
                                data-target="#myModal">
                                <figure><img style="cursor: pointer;" src="assets/images/like_red.png"
                                        (click)="addfavlist(i._id)"></figure>
                            </div> -->
                        </div>
                        <!-- <figure class="camera"><img src="assets/images/camera.png"></figure> -->
                        <div class="explore_main">
                            <figure class="camera" *ngIf="i.images[0]?.image != null" style="cursor: pointer;"><img
                                    [src]="imgurl+i?.images[0]?.image"></figure>
                            <figure class="camera" *ngIf="i.images[0]?.image == null" style="cursor: pointer;"><img
                                    src="assets/images/noimage.png"></figure>
                        </div>

                        <!-- <h4>AED {{bestseller?.price}} <del>AED 49,950 </del><span>28% off</span> </h4> -->
                        <!-- <h4>AED {{bestseller?.price}} </h4> -->
                        <div class="tab2_category">
                            <h2 style="cursor: pointer;">{{i?.name}}<span> {{i.brand?.name}}</span></h2>
                            <!-- <h4>AED {{i?.price}}<del>AED {{i?.price}} </del><span>{{i?.discount}}% off</span> </h4> -->
                            <h4 *ngIf="i?.discount">AED {{i?.price - i?.price * i?.discount / 100 | number}}<del>AED {{i?.price | number}}
                                </del><span>{{i?.discount}}% off</span> </h4>
                            <h4 *ngIf="!i?.discount">AED {{i?.price | number}}</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>